[2019-11-16 13:30] rbioteau commented on #271
I have suggested a fix with PR https://github.com/de-jcup/eclipse-asciidoctor-editor/pull/272

[2019-11-22 10:12] DGarry82 opened #273 "cannot open pdf preview for non-standart file extensions"
Steps to reproduce:

1. create empty file (e.g. 'text.txt', extension matters)
2. open with 'Open With -> Other -> Asciidoc editor'
3. add some Asciidoc contents
4. Save using Ctrl-S (dynamic preview will be successfully updated)
5. Press 'Create temporary pdf file and open it' button
6. RESULT: default browser tries to open file "file:///tmp/asciidoctor-editor-temp/project_AsciiDocExample-1261004

[2019-11-22 10:13] DGarry82 commented on #273
(and yes, OS is Debian 9, Eclipse is Neon 4.6)

[2019-11-26 11:22] de-jcup commented on #268
@rbioteau : I appreciate your commitment and your changes/PRs . Thank you very much.

But currently I am extreme busy at work and running out of time. So it will take some time until I will be able to review and merge your changes. I am sorry!

[2019-11-26 11:32] de-jcup commented on #273
Tested with newer eclipse (2019-06) and AsciiDoctor 2.0.3 on Ubuntu based Linux.

Same result:
- text.txt becomes textpdf
- testfile becomes testpdf

Will be fixed

[2019-11-26 11:38] de-jcup commented on #273
_Remark: I think this is about ".adoc" usage for file name recalculation to pdf. So always 4 chars.. so dumb implementation has to just become smarter..._

## Todo:
- write unitests to check these both behaviours
- if necessary write an own class doing the name recalculation for pdf names
- fix the implementation to handle file endings better
  - text.txt must become text.pdf
  - testfile must bec

[2019-11-26 12:22] rbioteau commented on #268
I completely understand that you have your own agenda. I'll wait :)

[2019-12-13 07:06] TDesjardins opened #274 "Resolve path variables in variables assignments"
If you use vars in variable assignments the vars will not be resolved in editors preview:

[code]
Used version: Asciidoctor Editor 2.0.3

See also: https://github.com/de-jcup/eclipse-asciidoctor-editor/issues/261

[2020-01-06 14:16] vogella opened #275 "Does not work with 2020-03"
Trying the Asciidoctor editor with Eclipse SDK
Version: 2020-03 (4.15)
Build id: I20200105-1800
OS: Linux, v.5.3.0-24-generic, x86_64 / gtk 3.24.12
Java version: 12.0.1

results in the following error:

org.eclipse.core.runtime.CoreException: Plug-in "de.jcup.asciidoctoreditor" was unable to instantiate class "de.jcup.asciidoctoreditor.AsciiDoctorEditor".
	at org.eclipse.core.internal.registry.osg

[2020-01-07 15:24] de-jcup commented on #275
@vogella Is there a breaking change in eclipse ?
org.eclipse.ui.PartInitException not found ...

I have as plugin dependency:
![image](https://user-images.githubusercontent.com/11644753/71906052-ab179d00-3169-11ea-8c6a-f8d975e22dc8.png)

so from extensions `org.eclipse.ui` and also `org.eclipse.ui.workbench` package `org.eclipse.ui` packages are imported.

https://help.eclipse.org/2019-12/index.js

[2020-01-07 16:46] vogella commented on #275
I still see org.eclipse.ui.PartInitException in org.eclipse.ui.workbench and AFAICS it was always in this plug-in in the package org.eclipse.ui;

[2020-01-07 20:04] vogella commented on #275
This might be the same as
https://bugs.eclipse.org/bugs/show_bug.cgi?id=558895, we are investigating
on platform side.

Albert Tregnaghi <notifications@github.com> schrieb am Di., 7. Jan. 2020,
16:24:

[2020-01-08 11:51] ruspl-afed commented on #275
The fix is under review https://git.eclipse.org/r/#/c/155431/

[2020-01-09 07:23] de-jcup commented on #275
Thanks for reporting and also for comments.

[2020-01-09 08:54] de-jcup opened #276 "Migrate former testprojects to testproject repository"
Migrate existing testprojects into
https://github.com/de-jcup/eclipse-asciidoctor-testprojects

After this remove the testprojects from this repository

[2020-01-09 08:55] #276 closed, assigned to de-jcup

[2020-01-09 08:56] de-jcup commented on #276
Migrated to
https://github.com/de-jcup/eclipse-asciidoctor-testprojects/tree/master/asciidoctor-testproject2-simple-imagedirset
https://github.com/de-jcup/eclipse-asciidoctor-testprojects/tree/master/asciidoctor-testproject3-simple-noimagedirset

[2020-01-09 09:20] de-jcup commented on #270
Added situation to testproject 4, see https://github.com/de-jcup/eclipse-asciidoctor-testprojects/issues/1

[2020-01-09 09:43] vogella commented on #275
Fixed in  Eclipse SDK
Version: 2020-03 (4.15)
Build id: I20200108-2240
OS: Linux, v.5.3.0-26-generic, x86_64 / gtk 3.24.12, WebKit 2.26.2
Java version: 12.0.1

[2020-01-09 09:43] #275 closed, assigned to nobody

[2020-01-13 11:43] de-jcup opened #277 "Use ASP server 1.1.0"
Integrate new ASP server version, see https://github.com/de-jcup/asp/milestone/5

[2020-01-13 12:19] de-jcup opened #278 "Insure better interoperability between linux and windows"
copied from https://github.com/de-jcup/eclipse-asciidoctor-editor/pull/269

[2020-01-13 12:20] #278 closed, assigned to de-jcup

[2020-01-13 13:12] de-jcup opened #279 "Work over test problems /dependencies by PR"
With https://github.com/de-jcup/eclipse-asciidoctor-editor/pull/267 a test was introduced with dependency to mockito. Mockito is a wonderful testing framework. But when it comes to eclipse plugin development it can be tricky in conjunction with gradle .

I always try to move special test dependencies into "asciidoctor-editor-other" where we have normally no eclipse dependencies but can use whateve

[2020-01-13 13:40] #279 closed, assigned to de-jcup

[2020-01-13 13:42] de-jcup commented on #268
Merged your changes + added #279

[2020-01-13 13:42] #268 closed, assigned to nobody

[2020-02-03 11:04] vogella opened #280 "Wrong reference in File"
I have a adoc ApacheMaven similar to this:
[code]
On the same folder structure I have multiple other projects one of them is Docker. The link feature sometimes seems to get confused.

![image](https://user-images.githubusercontent.com/139910/73648110-23944f80-467d-11ea-8537-fe1faa836ebc.png)

[2020-02-03 11:05] vogella commented on #280
Looks like the tooling sometimes access the wrong directory.

[2020-02-03 11:07] vogella commented on #280
Seems to be connected with opened files, if I close all files and open the relevant articles.adoc again, links are fine. Maybe you persist somewhere the path for linkage instead of retrieving it based on the file?

[2020-02-03 16:40] de-jcup commented on #280
@vogella I have created a specialized test project  https://github.com/de-jcup/eclipse-asciidoctor-testprojects/issues/2 in branch `issue-280-wrong-references`.

It is always easier to understand a dedicated project setup with an example containing a very similiar structure and setup.

So please do my a favour and make a PR for https://github.com/de-jcup/eclipse-asciidoctor-testprojects/tree/issue

[2020-02-03 16:45] de-jcup commented on #280
@vogella I invited you to testprojects repository as collaborator, so you can directly change testproject4... instead of PR...

[2020-02-04 09:27] de-jcup commented on #280
When using ASP Server for asciidoc rendering and opening first `001_article.adoc `(Docker) and then `001_article.adoc` (Maven variant) I got a render error from asciidoctor (see picture below). I think the main reason is a wrong root folder calculation. As shown at the output, asciidoctor tries to render these pages.

![image](https://user-images.githubusercontent.com/11644753/73730619-5dc22780-47

[2020-02-04 13:55] amarktl opened #281 "Plugin ignores 'Path to Java' Preference"
_Plugin Version: **2.0.3**_

When setting a distinct Path to a Java version in the Editor Preferences these should be used to start the internal ASP Server, but this setting is not used.

**Windows**
![preferences_windows](https://user-images.githubusercontent.com/24912217/73750037-ca035200-475c-11ea-884b-ab68cd01ac21.png)

_Command_

**Linux**

![preferences _linux](https://user-images.githubuser

[2020-02-04 14:00] amarktl commented on #281
The Class `ASPServerAdapter` which is used to span the ASP Server will get the property from the preferences but, but these are not forwarded to the Launcher.
See: `de.jcup.asciidoctoreditor.asciidoc.ASPServerAdapter.startServer()`

`...
launcher = new ExternalProcessAsciidoctorJServerLauncher(pathToServerJar, port);
...`

I propose to use the other Constructor here and pass the path to java here

[2020-02-04 14:10] amarktl opened #282 "Path to java setting fails on windows"
Using the `ExternalProcessAsciidoctorJServerLauncher` to start a new ASP Server instance fails on windows when setting a custom _pathToJava_ because the check if this is a valid path is faulty.

![Selection_133](https://user-images.githubusercontent.com/24912217/73751609-b86f7980-475f-11ea-9fbb-41a5d55fd3e7.png)

On Windows the java binary is **java.exe**  therefore the check

`javaCommand = pathT

[2020-02-04 14:12] amarktl commented on #281
if the plugin would respect the 'Path to Java' setting it would fail on windows while verifing the java binary see: #282

[2020-02-05 10:18] Fuzzo opened #283 "Link source editor and preview"
When the source file is saved, the editor always scroll to beginning. Wuould be useful to have a function that automatically scroll the preview at source cursor point level.

[2020-02-11 14:21] dani-bell opened #284 "Splitting attribute values over multiple lines does not work"
Splitting attribute values over multiple lines does not work as described in:
"https://asciidoctor.org/docs/user-manual/#splitting-attribute-values-over-multiple-lines"

[code]
displaying of {long-value} results in:
"If you have a very long line of text \\"

[code]

{long-value-hard} has same result.

Used version: Asciidoctor Editor 2.0.3

[2020-02-11 21:21] vogella commented on #280
Sorry for the delayed reply.

Test setup looks similar to mine. I also have a content folder and multiple folders which follow the same structure, as in your example.

I do not use the editor rendering nor do I look at the result in Eclipse. I run the build via the command line.

[2020-02-13 12:56] vogella opened #285 "Autofolding"
Would be nice if editor would provide the option to fold code similar to the Java editor.

[2020-02-16 22:02] Josar opened #286 "Add a clean cache button"
When the adoc file is change to a file from an other directory there is an issue to build the preview.

To solve this a clean of the temp folder is neccessary.
[code]
Could there be a button to delete the temp folder? So it is easier to get this issue tackled.

Maybe it would be a good solution to clean the temp folder when the editor is change to an adoc in a different folder?

[2020-02-18 06:40] de-jcup commented on #286
This is related to #210 and also to #257

I think #257 suggestion to cleanup temp folders on a refresh/rebuild action

[2020-02-18 06:46] de-jcup commented on #285
What exactly would you like to have folded/foldable? How should it behave?

If If would have a folding option I would like to
- fold complete headline parts like in outline
- collapse all/expand all option
- maybe fold blocks (block means here, text which has no empty line between)

Have you something else in mind?

[2020-02-18 06:56] de-jcup commented on #263
@spamdaemon - have you still the problem or can we close this issue?

[2020-02-18 07:33] #273 closed, assigned to de-jcup

[2020-02-18 07:39] vogella commented on #285
For my purpose folding on header would be great. No need for expand
everything not blocks.

Albert Tregnaghi <notifications@github.com> schrieb am Di., 18. Feb. 2020,
07:46:

[2020-02-19 19:49] de-jcup commented on #283
What exactly "scrolls to beginning" ? I am having problems to understand/reproduce

## My attempt to reproduce
Lets see how I work:
1. I am using ASP Server for rendering
2. I open a big asciidoc file containing much text with many headlines
3. My asciidoctor editor is in split mode vertical, means left editor, right preview
4. I click to one tof the headlines inside editor, so preview tries find

[2020-02-19 19:54] de-jcup commented on #284
Hello @dani-bell , please do me a favor and
fork https://github.com/de-jcup/eclipse-asciidoctor-testprojects get a subproject whats similar to yours, add an example file there and create a PR. I will merge it into master and I can tryout. So it's will be much easier to help you/ understand the exact problem.

[2020-02-27 10:09] #283 closed, assigned to nobody

[2020-03-04 09:32] McMagnus commented on #47
If an image has failed to be generated due to missing GraphViz (or some other issue I guess), it's normally still stored in the plantuml-cache and will be reused even after GraphViz has been installed.

Such failed SVG iages should not be stored in the cache.

[2020-03-05 08:25] rbioteau opened #287 "[Question] Is there a due date for next release ?"
Hello,
I'd like to know if there is a due date for next release.
I want to integrate the plugin in my RCP next release and I need https://github.com/de-jcup/eclipse-asciidoctor-editor/pull/267 and https://github.com/de-jcup/asp/issues/25

Thanks !

[2020-03-10 16:45] de-jcup commented on #47
Interesting. But this sounds more like a wanted feature in GraphViz/Plantuml. Maybe you should enter an issue there? With #286 asciidoctor editor will at least drop temp folders/data

[2020-03-10 16:53] de-jcup commented on #287
Hello @rbioteau . Sorry was very busy and then on sick leave...

Normally I have no explicit release dates - but when you need the changes urgently please tell me your time line - I will try to deploy the next version before your release date so you can use it. Will shrink next milestone a little bit and move incomplete features to next milestone...

Best wishes
Albert

[2020-03-10 17:03] rbioteau commented on #287
Hi @de-jcup, thanks for the heads up.
I will integrate an intermediate build of my own if it is not possible on your side. Don't need to rush anything. For info, my target date is early June.

Best regards.
Romain

[2020-03-10 18:32] de-jcup commented on #173
https://asciidoctor.org/docs/asciidoctor-diagram/#creating-a-diagram describes:

So implementation should do something like
[plantuml, generated-file-name, SVG|PNG|TXT

[2020-03-10 18:40] #173 closed, assigned to de-jcup

[2020-03-10 18:40] #265 closed, assigned to de-jcup

[2020-03-10 18:40] de-jcup commented on #265
![image](https://user-images.githubusercontent.com/11644753/76347473-03545200-6307-11ea-9ef3-3e72d150f213.png)

[2020-03-10 18:41] de-jcup commented on #173
Can be set in preferences:

![image](https://user-images.githubusercontent.com/11644753/76347473-03545200-6307-11ea-9ef3-3e72d150f213.png)

[2020-03-10 18:55] #266 closed, assigned to de-jcup

[2020-03-10 18:57] de-jcup commented on #266
![image](https://user-images.githubusercontent.com/11644753/76348922-59c29000-6309-11ea-9785-065412dffd09.png)

[2020-03-10 21:01] de-jcup opened #288 "Provide outline view possiblity to show items non grouped"
#264 Includes will be at the end of the grouped outline items

But sometimes it's convenient to have no grouping but the ordering as in document.
So there is a need for a feature to turn off "grouping" of outline elements

- it shall be changeable for every editor outline
- there shall be a preference setup for default behaviour (editor startup)

[2020-03-10 21:26] #264 closed, assigned to de-jcup

[2020-03-10 21:26] #288 closed, assigned to de-jcup

[2020-03-10 21:57] de-jcup commented on #288
**Grouping enabled:**
![image](https://user-images.githubusercontent.com/11644753/76362259-ffcdc480-6320-11ea-94e8-675503032698.png)

**Grouping disabled:**
![image](https://user-images.githubusercontent.com/11644753/76362739-d8c3c280-6321-11ea-91ef-b2402861499c.png)

[2020-03-10 21:58] de-jcup commented on #264
Includes now at the bottom when grouping is enabled:

![image](https://user-images.githubusercontent.com/11644753/76362259-ffcdc480-6320-11ea-94e8-675503032698.png)

[2020-03-11 01:10] de-jcup opened #289 "No image dir set fails on validation and also on "ensure images" when"
Using for test:
`asciidoctor-testproject3-simple-noimagedirset`

Problematic part is
[code]

when no image dir is set we do fallback to baseDir.absolutepath
resolveImagesDirPath

baseDir is the location where the last adoc file is located.
e.g. : `/home/albert/development/projects/jcup/eclipse-asciidoctor-testprojects/asciidoctor-testproject3-simple-noimagedirset/doc`

So this is now used to copy

[2020-03-11 01:21] de-jcup commented on #289
https://asciidoctor.org/docs/asciidoctor-pdf/#image-paths
describes

So maybe we should not set an images dir attribute at all? On the other hand, the fallback to switch back/set image dir to the rendered file seems correct because it is the input file!

[2020-03-11 01:23] #286 closed, assigned to de-jcup

[2020-03-11 01:28] de-jcup commented on #286
Created a new toolbar action - as suggested by @Josar to destroy complete cache (and also internal context, so we always got a fresh one ), also moved both actions (build and clear cache) to own coolbar so easier to find.

![image](https://user-images.githubusercontent.com/11644753/76373054-ab860d00-633f-11ea-9e75-108826895ad5.png)

[2020-03-11 02:28] #277 closed, assigned to de-jcup

[2020-03-11 02:43] #281 closed, assigned to de-jcup

[2020-03-11 10:24] de-jcup commented on #282
Will be fixed with ASP 1.1.1 - inside this issue we will:

- change dependency from 1.1.0 to 1.1.1 after 1.1.1 is released
- change preference setup to define absolute/full path to java/java.exe (as suggested by @amarktl )

[2020-03-11 14:18] #282 closed, assigned to de-jcup

[2020-03-11 14:24] de-jcup commented on #282
Given java path points now to a file - see next picture:
![image](https://user-images.githubusercontent.com/11644753/76427008-15d49700-63ac-11ea-8f64-9f2c1410433f.png)

When field is empty default java implementation is used (as before):
![image](https://user-images.githubusercontent.com/11644753/76427237-57fdd880-63ac-11ea-93be-47161d6bfd4a.png)

[2020-03-11 16:16] #280 closed, assigned to de-jcup

[2020-03-11 17:01] de-jcup commented on #286
Pressing clean button does now show some information in asciidoctor console as well:

![image](https://user-images.githubusercontent.com/11644753/76443078-2c85e880-63c2-11ea-9990-e7f3b6973f48.png)

[2020-03-11 22:15] de-jcup commented on #262
At the moment we stop development here.

We got a simple reference search, which does

- search for includes by given file name
- search for references can be done in
  - navigator/package explorer etc. by context menu on asciidoc file
  - inside editor (`CTRL+SHIFT + G` or context menu)
    - when nothing selected, references for the editor file are searched
    - when parts of an include are sel

[2020-03-11 22:22] #262 closed, assigned to de-jcup

[2020-03-12 00:57] de-jcup commented on #271
Hello @rbioteau ,

I have created an feature-branch and merged your proposed PR parts inside.

First of all all thank you.

At the first glance the PR and the issue made sense. After merging the PR and inspecting my own code I found that the `AsciidoctorEditorOutlineSupport` used the imagesDir already as baseDir for validation (see picture below, Line 182). So I tried out without your changes in a

[2020-03-12 07:07] McMagnus commented on #47
My bad. Didn't check where I ended up after googling. Shall I remove the comment (and this one)?

[2020-03-12 09:04] rbioteau commented on #271
Hello @de-jcup ,
I made some tests on your branch and I got issues when image file names contains spaces (and only in that case). That is why I added `isImageReference` in `AsciiDoctorFileReference` and use it in the validator. It is related to the question I asked [here](https://github.com/de-jcup/eclipse-asciidoctor-editor/issues/270)
The addition of the `imageDir` constructor parameter seems in

[2020-03-12 12:47] de-jcup commented on #47
@McMagnus No problem, keep it as is. But please do me a favour: If you have created an issue at GraphViz/Plantuml project, it would be nice if  you could add a comment here with the link to the issue inside. Thanx.

[2020-03-12 13:09] McMagnus commented on #47
Here's the issue I created on PlantUML.net:

https://forum.plantuml.net/10984/failed-graphviz-graph-is-stored-in-cache

[2020-03-12 14:48] de-jcup commented on #271
Hmm. My original API approach of reference validation is a little bit obscure on first sight/usage  but still valid - a `AsciiDoctorEditorReferenceValidator` does just need to now what the `referenceBaseFileOrFolder` is from which the references have their relative path

**I will do following:**
- improve documention
- refactor naming (variables etc.) , so it's more clear what happens
- write test

[2020-03-12 15:05] de-jcup commented on #270
Here output of the example project:

https://github.com/de-jcup/eclipse-asciidoctor-testprojects/blob/master/asciidoctor-testproject5-simple-filenames-with-whitespaces/doc/maindoc-testproject4.adoc

![image](https://user-images.githubusercontent.com/11644753/76535371-0a03d600-647b-11ea-9193-64c251eb08eb.png)

[2020-03-12 16:09] de-jcup commented on #270
After last commit we got:

![image](https://user-images.githubusercontent.com/11644753/76540747-e0e74380-6482-11ea-8aab-35a83995b599.png)

[2020-03-12 16:51] #270 closed, assigned to nobody

[2020-03-12 16:51] #271 closed, assigned to nobody

[2020-03-12 17:04] de-jcup opened #292 "Release 2.1.0"
see https://github.com/de-jcup/eclipse-asciidoctor-editor/projects/1

[2020-03-12 17:06] de-jcup opened #293 "Markers shall be easier to identify as ASP errors"
Improve ASP error marker output, so it's easier to differ between editor validation markers and ASP error/warning and info messages

[2020-03-12 17:08] #293 closed, assigned to de-jcup

[2020-03-12 17:14] de-jcup commented on #293
![image](https://user-images.githubusercontent.com/11644753/76547298-3aed0680-648d-11ea-9a2c-e45f798a8569.png)

[2020-03-12 17:15] rbioteau commented on #270
👍

[2020-03-12 22:28] de-jcup opened #294 "Provide signed plugins for marketplace"
Just sign all features and plugins - to avoid warnings at installation time
Automate it inside a bash script "signJars"
Existing deploy script (bintray) shall use the sign bash script automatically before uploading to bintray

Doing this makes also necessary to increase all numbers of other referenced plugins as well - otherwise at least one plugin would be not signed.

[2020-03-12 22:33] #294 closed, assigned to de-jcup

[2020-03-12 23:33] de-jcup commented on #287
Just release Version 2.1.0 on eclipse marketplace

[2020-03-12 23:33] #287 closed, assigned to nobody

[2020-03-12 23:33] #292 closed, assigned to de-jcup

[2020-03-13 00:02] de-jcup commented on #262
Added YouTube video showing this feature at https://youtu.be/o4qu_CI-ZS0

[2020-03-13 00:21] de-jcup opened #295 "References navigator/package explorer entry merges with egradle actions"
References entry inside Navigator/Package explorer collides with EGradle actions, must be fixed
see next picture:

![image](https://user-images.githubusercontent.com/11644753/76578376-ab654900-64c8-11ea-92a4-494b02e5dab6.png)

[2020-03-13 00:38] de-jcup commented on #288
Video added at https://youtu.be/2KX0QQ7Z4u4

[2020-03-13 06:46] charleech opened #296 "The version 2.1.0 make the `*.txt` file to be associated to the Asciidoctor Editor."
I've just updated the `Asciidoctor Editor` to the latest and greatest version `2.1.0` and found that my `*.txt` files are associated to the  `Asciidoctor Editor` by default. Do we have any configuration to choose whether or not to associate / un-associate  them?

Anyhow I'm fine with this behavior since I usually use the `Asciidoctor Editor` to write some notes during development and loving it.

M

[2020-03-13 09:06] de-jcup opened #297 "Asciidoctor references action UI improvements"
#### Asciidoctor references action in navigator shall have asciidoctor icon
It's cumbersome to identify the reference search in navigator/package explorer/project explorer.
So we add asciidoctor editor icon to popup menu entry - easier to find

#### Asciidoctor source menu
Add reference icon to source menu entry

### Asciidoctor references in workspace icon
The icon for reference search must be mo

[2020-03-13 09:42] de-jcup commented on #296
Thanx for reporting.

## Technical description why this happens
With https://github.com/de-jcup/eclipse-asciidoctor-editor/issues/258 this is a side effect.

[code]

https://help.eclipse.org/2019-12/index.jsp?topic=%2Forg.eclipse.platform.doc.isv%2Freference%2Fextension-points%2Forg_eclipse_core_contenttype_contentTypes.html

points out:

But it is necessary to define `base-type="org.eclipse.core.

[2020-03-13 10:00] de-jcup commented on #296
Added link to this issue also to [FAQ](https://github.com/de-jcup/eclipse-asciidoctor-editor/wiki/FAQ#my-txt-files-are-associated-with-asciidoctor-editor).

[2020-03-13 10:00] #296 closed, assigned to de-jcup

[2020-03-13 10:21] de-jcup opened #298 "Combine line and content element in asciidoc reference search results"
## Situation
Currently a reference search for asciidoc files shows result in such way:
![image](https://user-images.githubusercontent.com/11644753/76612150-fbb9c680-651b-11ea-9333-a34ac9fd60ef.png)

Normal file search behavior merges line number and content, what makes it easier to read and has a better user experience:
![image](https://user-images.githubusercontent.com/11644753/76612050-d1680900-

[2020-03-13 10:53] de-jcup opened #299 "Release 2.1.1"
see https://github.com/de-jcup/eclipse-asciidoctor-editor/projects/1

[2020-03-13 11:02] #295 closed, assigned to de-jcup

[2020-03-13 11:02] #297 closed, assigned to de-jcup

[2020-03-13 11:22] #299 closed, assigned to de-jcup

[2020-03-13 11:35] de-jcup opened #300 "Outline include elements shall have references search action"
In outline #290 shall be integrated as popup action

[2020-03-13 16:14] de-jcup commented on #188
**Just a related information:**

While asciidoctor editor now use either installed asciidoctor or ASP (https://github.com/de-jcup/asp/) there is no longer a direct dependency to plantuml.jar

ASP uses asciidoctorj-diagram which contains suitable plantuml.jar - so every ASP update of dependencies will update plantuml like asciidoctorj defines.

![image](https://user-images.githubusercontent.com/116

[2020-03-17 18:08] vogella commented on #280
Thanks, Albert. Is this already published via the normal update side?

[2020-03-17 18:44] de-jcup commented on #280
Yes it is. Milestone 2.1.0 is closed and so released. Also v2.1.1 was
already released as well with some additional bugfixes and improvements.

See
https://github.com/de-jcup/eclipse-asciidoctor-editor/releases/tag/v2.1.1

https://github.com/de-jcup/eclipse-asciidoctor-editor/releases/tag/v2.1.0

Greez albert

Lars Vogel <notifications@github.com> schrieb am Di., 17. März 2020, 19:08:

[2020-03-17 18:49] vogella commented on #280
Thanks

Albert Tregnaghi <notifications@github.com> schrieb am Di., 17. März 2020,
19:45:

[2020-03-20 11:40] marcelhuberfoo opened #301 "Failed to load AsciiDoc document - incompatible encodings: UTF-8 and US-ASCII"
Unfortunately I cannot preview a file (UTF-8) I am currently editing as it seems the generated temporary file is written in plain `US ASCII` and it cannot include a file written in UTF-8 :(

I am using the latest plugin:
`Asciidoctor Editor	2.1.1	de.jcup.asciidoctoreditor.feature.group	Albert Tregnaghi`

Encodings of the files  as detected by the OS:
[code]
Contents of generated file:
[code]

Here

[2020-03-20 15:32] de-jcup commented on #301
Hello,
having no such problems:

![image](https://user-images.githubusercontent.com/11644753/77182155-9726da80-6acc-11ea-8578-20fb1016fd6d.png)

and leads to
![image](https://user-images.githubusercontent.com/11644753/77182180-a3ab3300-6acc-11ea-8ada-2bc7cb732326.png)

So I need your assistance here, to provide a fix:

#### Problem evaluation / bug fixing
Please do me a favor:
1. fork
https://gith

[2020-03-20 15:41] de-jcup opened #302 "Improve PlantumlEditor syntax highlighting"
- colors like `#green ` or `#CCFFAA` shall be highlighted like color constants
- dividers shall be highlighted (`==` and `===`)
- add keywords: autoactivate, endheader, @startmindmap, @endmindmap
- make most parts non bold so better readable
- provide arrow syntaxhighlighting
- provide syntax highlighting for labels

[2020-03-20 15:45] marcelhuberfoo commented on #301
@de-jcup Thank you for your quick reply. I will follow your steps and prepare for the PR.
I already tried the workaround which showed me another problem regarding asciidoctor-block comments (////) which do not get parsed correctly if I am not mistaken. But this will also be contained in the forked repo containing my examples then.

[2020-03-20 16:38] marcelhuberfoo commented on #301
Yes, I am using Linux, Archlinux. Default charset is UTF-8 according to these language related env vars:
[code]
Jave anvironment:
[code]
My Eclipse has no special charset spec when looking at the ps entry:
[code]
All the rest follows in the fork/PR.

[2020-03-23 23:55] de-jcup commented on #302
![image](https://user-images.githubusercontent.com/11644753/77373732-4384ed00-6d69-11ea-8c84-52d5cc67856f.png)

white theme:
![image](https://user-images.githubusercontent.com/11644753/77374081-21d83580-6d6a-11ea-9d24-c1ecc3922c31.png)

[2020-03-24 00:07] de-jcup commented on #301
Thanks for https://github.com/de-jcup/eclipse-asciidoctor-testprojects/pull/5 - after merging your variant and opening it, I also got the problem:

![image](https://user-images.githubusercontent.com/11644753/77342387-6646df80-6d30-11ea-95bd-87601da1f043.png)

After inspection of data I found the problem: Inside `ADocMeta.asc` you defined variable `mysubtitle` with an content starting with a leadin

[2020-03-24 00:09] de-jcup commented on #301
@marcelhuberfoo I think just changing your variable definition should fix the problem

[2020-03-24 00:18] #302 closed, assigned to de-jcup

[2020-03-25 15:52] Fuzzo opened #303 "Wrong image directory reference"
I've a simple project:
[code]

In Common.adoc file there are several variable definitions that are used accross all other documents, like Test.adoc and others.

Test.adoc has its own images under img/ directory. It includes as its first directive the Common.adoc at the line:
`include::../Common.adoc`
This file also has the following lines to include image:
[code]
**Preeamble: no :imagesdir: attrib

[2020-03-26 14:51] de-jcup commented on #257
As information:
https://asciidoctor.org/docs/user-manual/#setting-the-location-of-images

So maybe it will be necessary to handle each document in dedicated way - so nearest path must include the filename as well...

[2020-03-26 15:30] de-jcup commented on #303
Hello,

hmm...
reading https://asciidoctor.org/docs/asciidoctor-pdf/#image-paths

I think this is a  bug... and you are right about that for rendering `Test.adoc `the usage of `image::img/tux.svg[]` should be correct.

At the moment https://github.com/de-jcup/eclipse-asciidoctor-editor/blob/38e78148904913b24b6c0304d962fc6e3f2111d1/asciidoctor-editor-plugin/src/main/java/de/jcup/asciidoctoreditor/p

[2020-03-28 01:46] #263 closed, assigned to nobody

[2020-03-30 11:20] vogella opened #304 "Reference reported as incorrect"
In the following setup the editor reports that a reference does not exists.

![image](https://user-images.githubusercontent.com/139910/77906971-267c7c80-7289-11ea-8024-c5b058ee1393.png)

Maybe this is the case before a similar file exists somewhere in the workspace?

[2020-04-02 07:26] famod commented on #296
FWIW, I had to add `*.txt` and `*.log` manually to make it work.

[2020-04-02 07:39] amarktl opened #305 "Add Validation for possible Broken links"
In the Console the possible broken links are logged as information.

it would be good to have a validation for them to show this directly in the editor window. This should be configurable in the validation options of the plugin.

BR,
Alex

[2020-04-05 17:06] kogiokka opened #306 "Stem (equation and formula) support"
The preview as well as the outputs to browser or pdf don't render formula and equation. It's a bit odd since I can see messages like "`Loading [MathJax]/extensions...`" showing on preview panel. Is this a bug or the feature is not implemented?
![eclipse-asciidoc-editor-issue](https://user-images.githubusercontent.com/36656205/78504950-b4cd9280-77a2-11ea-8417-d513954c139f.png)

[2020-05-04 20:58] ftovar opened #307 "Inter-document cross-references"
Hi

First of all, great tool!

I am trying to click a inter-document cross-reference link in the preview panel but it fails to open the file. The temp file path is wrong.
I'm using <<path-to-file.adoc#Section,Section>>.
Am I doing something wrong?

Thanks

[2020-05-06 12:47] de-jcup opened #308 "Option for auto warm pdf documents"
When creating a PDF at first time after ASP server has been started the initial setup time is very slow,  Next PDF creation is much more faster.

So we could simply create a dummy PDF document on startup phase in background so asciidoctor is warmed up and user pdf creation is much more faster.

The option should be disabled per default in preferences, so just a opt-in.

[2020-05-06 12:50] de-jcup opened #309 "Subeditors (plantuml, ditaa) should have own default layout"
Currently when disbling vertical layout as default , also plantuml and ditaa editor have no longer this as default. But for those editors it normally makes no sense to use without (IMHO).

Solution: create own preferences for those editors

Remark: Also it could be interesting if doing this inside this issue, we could also provide an option to show those in own view instead of splitted editor

[2020-05-14 09:33] vogella opened #312 "Includes not found in latest update from marketplace"
You fixed this issue before, but it is back again for an example:

![image](https://user-images.githubusercontent.com/139910/81918325-9bf0a200-95d6-11ea-9f67-ec7a9c358cb2.png)

Using:   Asciidoctor Editor	2.1.1	de.jcup.asciidoctoreditor.feature.group	Albert Tregnaghi

[2020-05-14 12:01] vogella opened #313 "Limit editor to .adoc"
Since a while the editor feels responsible for pom.xml files and also .project files. Can you restrict it again to .adoc?

![image](https://user-images.githubusercontent.com/139910/81932067-699d6f80-95eb-11ea-8831-bb5d6cb5496d.png)

[2020-05-18 10:38] famod commented on #313
This should solve your problem: https://github.com/de-jcup/eclipse-asciidoctor-editor/wiki/FAQ#my-txt-files-are-associated-with-asciidoctor-editor

[2020-05-18 10:40] famod commented on #312
This might help? https://github.com/de-jcup/eclipse-asciidoctor-editor/wiki/FAQ#sometimes-my-includes-cannot-be-resolved

[2020-05-20 13:15] de-jcup opened #314 "Support asciidoctorconfig files like intellij plugin"
The intellij plugin supports project specific configuration files
https://github.com/asciidoctor/asciidoctor-intellij-plugin/wiki/Support-project-specific-configurations

It's a very clever approach, because so you can fine tune IDE behaviour - this will solve many problems. Every project folder can contain such a configuration file which is accepted by IDE. The idea is to use same format as done

[2020-05-23 16:59] de-jcup commented on #313
@vogella : Hello Lars, when I was having the problem with eclipse updates setting Mylyn always again as the new default editor for every `*.adoc` file I asked you about how I could get rid of this problem and - as far as a I remember - you suggested to set priority to high inside plugin.xml to solve this.

see https://github.com/de-jcup/eclipse-asciidoctor-editor/issues/258
To do this you need you

[2020-05-23 19:14] de-jcup commented on #304
Hello, I thought this was already fixed with https://github.com/de-jcup/eclipse-asciidoctor-editor/issues/280. Will try out as soon I will be working on this project again.

[2020-05-23 19:20] de-jcup commented on #312
Hello @vogella is this a duplicate for https://github.com/de-jcup/eclipse-asciidoctor-editor/issues/304 or a complete other issue?

Currently I am running out of time - so could you do me a favor and create a PR for https://github.com/de-jcup/eclipse-asciidoctor-testprojects and improve https://github.com/de-jcup/eclipse-asciidoctor-testprojects/tree/master/asciidoctor-testproject4-vogella-content

[2020-06-02 08:52] vogella commented on #312
Yes, looks like this is a dup of #304

@famod refresh did not solve this issue.

Closing as dup of #304

[2020-06-02 08:52] #312 closed, assigned to nobody

[2020-06-23 10:54] de-jcup opened #315 "Clone editor problem"
Check if this is also a problem and solve like done in https://github.com/de-jcup/eclipse-bash-editor/issues/199

[2020-07-07 16:45] famod commented on #307
Same here.

[2020-07-14 20:23] de-jcup opened #316 "Make compatible with Photon"
There are people using older eclipse versions (Photon) - maybe because forced to use
- [x] merge PR https://github.com/de-jcup/eclipse-asciidoctor-editor/pull/311
- [ ] make the "set active target" way work in 2018-12 RCP development environment (on going)
- [ ] change eclipse marketplace settings, so Photon is listed inside supported plattform versions by marketplace client

If the given PR chang

[2020-07-14 21:45] de-jcup commented on #316
@Bananeweizen
I am facing problems when setting your target as active one: ( I am developing with an old Eclipse RCP 2018-12)

When I change the active target to your defined one and try to start Eclipse Application, I got:
![image](https://user-images.githubusercontent.com/11644753/87479282-7eb66f00-c62b-11ea-9f8e-83937421a312.png)

![image](https://user-images.githubusercontent.com/11644753/8747

[2020-07-14 21:50] de-jcup commented on #316
@Bananeweizen

Currently I am not able to start eclipse with your given target - I always got failures ( see images above).
**Could you please explain why you are using such an extreme old eclipse version (Photon)?**

I am using an old but even newer one for RCP development (2018-12) , so I am always at least compatible with `2018-12` and never user newer parts (lazy approach to have it always run

[2020-07-22 19:10] timur-han opened #317 "Plantuml relative paths do not work"
Hi,

Thank you for the contribution.

I'm currently using the version 2.1.1. I'm trying to include a plantuml diagram using the relative path like this:

[code]
However, this relative path is calculated not from the actual file oath but from the project root path. Consequently, the file cannot be resolved.

Even if I put the file into the same folder and include it like this:
[code]
It is not reso

[2020-08-30 14:49] de-jcup commented on #314
There exists als a gradle plugin to create those files:
https://github.com/asciidoctor/asciidoctor-gradle-plugin/blob/master/docs/src/docs/asciidoc/parts/asciidoctoreditorconfig-plugin.adoc

[2020-09-29 08:23] Jeeppler opened #318 "[PlantUML] Local Includes Do Not Work"
I am currently creating [C4 diagrams](https://github.com/RicardoNiepel/C4-PlantUML). I need to include the supporting C4-PlantUML files to get the C4 elements. The remote include works well. However, the local include does not work.

Example, `context.puml`:
[code]

The reason is, that the Asciidoctor Editor Eclipse Plugin does not copy the included files from `context.puml` into the temporary asc

[2020-09-30 02:07] de-jcup commented on #316
It is not working and it took me much time to get my workspace running again.
So I decided to remove the changes doen in #311 and do it the old way.
As long as I am not able to handle targets in a comfortable way unfortunately this is no option. Good idea, would be nice if it would work.

Maybe another approach is necessary - but I close this issue now and turn to feature development again.

PS: I

[2020-09-30 02:07] #316 closed, assigned to de-jcup

[2020-09-30 02:15] #313 closed, assigned to nobody

[2020-09-30 02:28] de-jcup commented on #315
Yes, same problem. must be fixed...

[2020-09-30 02:28] #315 closed, assigned to de-jcup

[2020-09-30 05:04] de-jcup commented on #317
Hello @timur-han

I tried out in my test project:
![image](https://user-images.githubusercontent.com/11644753/94644862-ae038080-02ea-11eb-8748-4cccb777d8ce.png)

works well

(please try out at https://github.com/de-jcup/eclipse-asciidoctor-testprojects  by your self:)

Maybe when #314  will be implemented, those problems will vanish, because users will be able to define their settings then inside

[2020-09-30 05:05] #318 closed, assigned to de-jcup

[2020-09-30 05:08] de-jcup opened #319 "Release 2.2.0"
see https://github.com/de-jcup/eclipse-asciidoctor-editor/projects/1

[2020-09-30 05:27] #319 closed, assigned to de-jcup

[2020-09-30 05:33] de-jcup commented on #318
Just released 2.3.0 to eclipse marketplace, your example works now:

![image](https://user-images.githubusercontent.com/11644753/94646743-3421c600-02ef-11eb-8bbc-5800684eb95a.png)

[2020-09-30 05:38] de-jcup commented on #313
@vogella  - was my fault... I accidently registered asciidoc editor for general text content type and not for dedicated asciidoctor editor content type :man_facepalming: ... sorry.

[2020-09-30 07:37] vogella commented on #313
Great to hear that this got fixed. Thanks @de-jcup

Now I don't get a preview anymore if I open a pom.xml :-)

[2020-09-30 08:13] de-jcup commented on #318
Just for information about C4 model see https://c4model.com/

[2020-10-06 12:56] jochenschmich opened #320 "Asciidoctor editor should not be associated to plain text (.txt) files"
Hi there,

after installing the Asciidoctor plug-in all plain text files (with the .txt file extension) are associated to the Asciidoctor editor.
This is unfortunate because we don't need the Asciidoctor functionality for plain text files and now we always have to minimize the preview area to make the text more readable.

**Steps to reproduce:**
1. Install the Asciidoctor feature
2. Create a file

[2020-10-08 09:33] elonderin opened #321 "improve preview scroll to current section based on most recent headline"
The current impl. to just sync scrolling when the cursor is on a headline directly is not cutting it IMO.
Most annoying is that i jumps to the top after a save.

So my idea was to suggest the same algorithm that you already came to in #126, namely:

* find the most recent headline from the current cursor position
* scroll to that on
  * every refresh of the preview (eg. save)
  * when the cursor m

[2020-10-08 09:51] elonderin commented on #321
hm, after just having written this issue, i'm not sure if my problem is just the bug #129.

question: what is the intended behavior after a save ?  scroll to the most recent section headline ?

[2020-10-08 13:05] anb0s commented on #47
We are facing this problem with own distributions without installed graphviz, but delivered with eclipse e.g. in tools folder.

Would it be possible to configure the path to dot like it's possible in PlantUML plugin also for AsciiDoctor:
![image](https://user-images.githubusercontent.com/95811/95462174-74c8b180-0977-11eb-8135-71dca58aadb1.png)

Should i create new issue and try to do a PR for it?

[2020-10-10 16:32] anb0s commented on #320
see #313 should be fixed with latest version

[2020-10-10 18:39] anb0s opened #322 "add support for not installed graphviz (dot)"
We are facing this problem with own distributions without installed graphviz, but delivered with eclipse e.g. in tools folder.

![image](https://user-images.githubusercontent.com/95811/95662606-607fe280-0b38-11eb-9fa7-3d4408262e59.png)

We do not want to add this to Windows system or user PATH as our Eclipse distibution contains all tools.

Would it be possible to configure the path to dot like it

[2020-10-10 18:39] anb0s commented on #47
created new issue #322

[2020-10-10 19:49] anb0s opened #323 "support AsciiDoctorJ distribution for CLI"
We are using the [AsciiDoctorJ distribution](https://github.com/asciidoctor/asciidoctorj) via CLI (@ Windows) and because of #322 i did a workaround:

- setup to use asciidoctorj
![image](https://user-images.githubusercontent.com/95811/95663162-2107c500-0b3d-11eb-9a13-18fe7759f810.png)

It fails to call `asciidoctor`, because the name is `asciidoctorj.bat` (windows) and `asciidoctorj` (sh script)

[2020-10-10 20:04] anb0s commented on #322
May be the ASP can be adapted to accept environment variables in `ASPServerAdapter.startServer()` similar to `launcher.setPathToJavaBinary(pathToJavaBinary)`, e.g.: `launcher.setEnvironment(env)` with `Map<String, String> env;` that can be configured by user in the preferences of AsciiDoctor editor in new text field or table with name and value.
`GRAPHVIZ_DOT=tools/graphviz/bin/dot.exe`

ASP would

[2020-10-15 07:22] jochenschmich commented on #320
Thank you very much!
I can confirm, that the problem is now fixed with the latest version.

BTW: https://github.com/de-jcup/eclipse-asciidoctor-editor/wiki/FAQ#my-txt-files-are-associated-with-asciidoctor-editor can be deleted or updated.

[2020-10-15 07:22] #320 closed, assigned to nobody

[2020-10-22 19:08] timur-han commented on #317
Hi @de-jcup ,

I tested it in different environments and in these it did not work. I tried the same project.

<img width="1266" alt="grafik" src="https://user-images.githubusercontent.com/4758965/96918378-7f706400-14aa-11eb-8955-e3fd6967a757.png">

The error is this:

[code]

Details of my current environment:
-     Asciidoctor Editor	2.2.0	de.jcup.asciidoctoreditor.feature.group	Albert Tregnaghi

[2020-10-30 09:53] junquero opened #324 "Problems rendering images in a multi project."
If I have a maven multi-module project, let's say I have a parent project with 3 modules:

parent/proj1
parent/proj2
parent/proj3

And I create parent/proj1/doc/Readme.adoc and parent/proj1/Readme.png, and the Readme.adoc includes the image:

image::Readme.png[My comment]

The image is not rendered, and a warning is shown:

Validation failed:image::.. references not existing file:C:\path\to\my\par

[2020-11-01 19:05] TheBlackRiderGBird commented on #306
Any news on that?

[2020-11-02 09:02] AlBundy33 opened #325 "Include of plantuml-files does not work"
It seems that the working-directory is somewhere in the temp-folder and therefore included files can not be found.
Tested on Windows 10 with up-to-date plugin.

test.adoc
[code]

test.puml
[code]

[2020-12-11 17:42] mfakih294 opened #326 "Support for older Eclipse"
Bidirectional support (with proper right-to-left typing e.g. Arabic) seems that got broken in Eclipse editor after version 4.7.3, the last version that I found in my recent investigation. Yet Asciidoctor editor (latest version) requires 4.11 at least. Is it possible that older versions of the plugin support Eclipse 4.7.3?
In this case, how to install it? An update site url or zipped archive site?

[2020-12-19 13:18] de-jcup commented on #326
I am sorry - I have currently no idea how to handle this.

But IMHO you should write a bug entry at https://bugs.eclipse.org/bugs/ - it is not okay that the bidirectional support has been broken in eclipse standard editor. This should be fixed there. Having it fixed, all other plugins will benefit from the platform change.

If you have entered a bug there, please add the link here, so I can follow

[2020-12-19 18:04] mfakih294 commented on #326
Filed a bug at [bugs.eclipse.org](https://bugs.eclipse.org/bugs/show_bug.cgi?id=569834).

[2021-01-15 17:10] #326 closed, assigned to nobody

[2021-01-21 18:03] andressantos10 commented on #47
Hey people, did you get any solution for this problem?

[2021-01-26 11:36] de-jcup commented on #322
Sorry for the late response - I was very busy. Your suggestion should solve the problem.

[2021-01-26 11:41] de-jcup commented on #314
The asciidoc config file description has moved to https://intellij-asciidoc-plugin.ahus1.de/docs/users-guide/features/advanced/asciidoctorconfig-file.html

## Sum up

### Supported filenames:
- `.asciidoctorconfig` (origin filename but does not handle ifndef etc.)
- `.asciidoctorconfig.adoc`. This will work the same way like `.asciidoctorconfig` but supports preprocessor macros like `ifndef`

###

[2021-01-27 00:29] de-jcup commented on #314
The asciidoc config files do now work same way as in intellij plugin

But there is still one thing not working - when defining a .asciidoctorconfig file like
[code]

and writing a asciidoc file doing output:
[code]
I don't get the configured value but still values from eclipse given to asciidoctorj.
Maybe it's the document attribute assignment precedence - see https://docs.asciidoctor.org/asciidoc

[2021-01-27 20:19] ahus1 commented on #314
I set the `basedir`, but not as an attribute, instead as an option on the API, see [AsciiDoc.java#L1068-L1071](https://github.com/asciidoctor/asciidoctor-intellij-plugin/blob/57ad18b78bf1d414f342e87eb706310a491b92fd/src/main/java/org/asciidoc/intellij/AsciiDoc.java#L1068-L1071)

I would be surprise if a document could overwrite this as an attribute.

The plugin doesn't set an `imagesdir` as defaul

[2021-01-28 11:43] vogella opened #330 "UI freeze in ReducedBrowserInformationControl"
I'm not using any preview feature for the Asciidoctor Editor.

Eclipse just froze (I had to kill it) with the following freeze report:

Stack Trace
	at org.eclipse.swt.internal.gtk.OS.g_object_ref(Native Method)
	at org.eclipse.swt.browser.WebKit.onDispose(WebKit.java:1980)
	at org.eclipse.swt.browser.WebKit.lambda$4(WebKit.java:881)
	at org.eclipse.swt.browser.WebKit$$Lambda$725/0x00000000b1b3b42

[2021-01-28 13:00] vogella opened #331 "Unhandled event loop exception - at de.jcup.eclipse.commons.ui.ReducedBrowserInformationControl.isAvailableFor(ReducedBrowserInformationControl.java:128)"
I see the following stack traces in my IDE:

java.lang.IllegalArgumentException: Argument not valid
	at org.eclipse.swt.SWT.error(SWT.java:4856)
	at org.eclipse.swt.SWT.error(SWT.java:4790)
	at org.eclipse.swt.SWT.error(SWT.java:4761)
	at org.eclipse.swt.widgets.Widget.error(Widget.java:555)
	at org.eclipse.swt.widgets.Widget.checkParent(Widget.java:408)
	at org.eclipse.swt.widgets.Widget.<init>(W

[2021-01-29 12:00] vogella opened #332 "include code completion does not work in a source block"
The include code completion does not work in a source block

For example:
[code]

[2021-01-29 17:47] de-jcup commented on #47
@andressantos10 - this will be addressed with #322 .

[2021-02-04 12:29] Bananeweizen opened #333 "bintray will shut down"
Please move the update site: https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

[2021-02-04 16:22] de-jcup commented on #333
@Bananeweizen thanx a lot !!! I am currently maintaining ~10 eclipse plugins and all are currently hosted at Bintray.

@vogella - I adopted your bintray upload scripts from https://github.com/vogellacompany/bintray-publish-p2-updatesite a lot ... maybe this is interesting for you as well?

[2021-02-04 17:01] de-jcup commented on #333
I created https://stackoverflow.com/questions/66050231  as a central point to address the problem.

I also added there a possible solution/workaround with GitHub pages at https://stackoverflow.com/questions/66050231/eclipse-plugin-update-site-hosting-alternative-to-bintray/66050232#66050232

**Update: 2021-02-05**
Unfortunately stackoverflow rejected my question ..

<img src="https://user-images.g

[2021-02-04 20:49] akurtakov commented on #333
https://wiki.eclipse.org/Tycho/Release_Notes/2.3#A_mojo_to_remap_Maven_artifacts_to_Maven_URLs_in_artifact_repository might be interesting aid for the issue but not a solution on it's own. So deploy bundles to maven central and reuse them directly from there is in the works but p2 metadata would have to live somewhere else.

[2021-02-09 00:14] de-jcup commented on #333
@paulvi : Do you already have any good alternative for p2 repo hosting? If so please add a comment here or at https://serverfault.com/questions/1052475/eclipse-plugin-update-site-hosting-alternative-to-bintray . Thx a lot.

[2021-02-17 14:10] de-jcup opened #334 "Externel browser preview not opening sometimes"
I had an odd situation: Using editor only (no preview pan) and  opened the document with "show in external browser" action.
At some point the system browser (Firefox) did not open the tab.
I pressed the "show in external browser" button 5 times. Nothing happend

Then I closed my editor instance and reopened same file again - suddenly 5 tabs appear at firefox (without any further action than just o

[2021-02-17 14:15] de-jcup opened #335 "External refresh in external preview not working"
I defined 3 seconds for "refresh in external preview" in preferences, but document was not reloaded.

Environment
- Linux
- Eclipse 2020-12
- Firefox 85.0 (64-bit)
- Asciidoctor Editor 2.2.0

[2021-02-20 00:36] de-jcup commented on #333
As of lack of alternatives, I decided to use the github pages approach.

- I have migrated now batch, bash and yaml editor to github pages approach. With https://github.com/de-jcup/p2-updatesite-github-pages-automation/issues/1 there is a default approach which must only be copied to rootfolder. It only needs a mirror
 repository named "update-site-eclipse-asciidoctor-editor" all other things work

[2021-02-20 01:02] de-jcup commented on #331
@vogella : I have problems to understand where the problem exactly lies. Inside eclipse-commons the variable "parent" is used already as parent for created  browser element (it's the composite used in editor).

                Slider sliderV = new Slider(parent, SWT.VERTICAL);

https://github.com/de-jcup/eclipse-commons/blob/693bd2fe5d2e3faadb465519e613f0f1c8905f99/src/main/java-eclipse/de/jcup/ec

[2021-02-20 01:11] de-jcup commented on #307
First of all: Sorry for late response.

Currently only highlighting for cross reference links is implemented. But it would be very nice to have such a feature.

[2021-02-20 01:27] de-jcup commented on #307
I have checked the official asciidoc documentation to get input for unit tests, check format types etc.

But currently I can only find
- https://docs.asciidoctor.org/asciidoc/latest/macros/xref/
- https://docs.asciidoctor.org/asciidoc/latest/macros/inter-document-xref/
- https://docs.antora.org/antora/2.3/asciidoc/in-page-xref/

So ... is `<<path-to-file.adoc#Section,Section>>` still valid?
It see

[2021-03-03 22:05] de-jcup commented on #322
Currently still busy because auf #333 and porting all my plugins... After this has been done I will concentrate on solving issues on asciidoctor editor ...

[2021-03-16 05:44] Bananeweizen commented on #333
You already did the work. Thanks for that. http://www.lorenzobettini.it/2021/03/publishing-an-eclipse-p2-composite-repository-on-github-pages/ was just published, maybe you want to verify your steps with that article.

[2021-04-02 16:02] de-jcup commented on #322
Hm... Asciidoctor intelliJ seems to do it this way:
https://github.com/asciidoctor/asciidoctor-intellij-plugin/blob/57ad18b78bf1d414f342e87eb706310a491b92fd/src/main/java/org/asciidoc/intellij/AsciiDoc.java#L1034-L1037

[2021-04-02 16:13] de-jcup commented on #314
https://asciidoctor.org/man/asciidoctor/

Looks like base directory cannot be changed inside documents - as mentioned before

[2021-04-07 08:14] wlfbck opened #336 "PlantUML version outdated"
I'm trying to use https://github.com/plantuml-stdlib/C4-PlantUML which uses tags which are not available yet in the PlantUML version you are using.

asciidoctor-diagram itself is already using the newer version, so i'm not sure if you just need to update that dependency.

[2021-04-10 22:20] mojavelinux commented on #255
At long last, we're about to submit the project proposal to Eclipse. I'd like to invite you as a committer on that project.

[2021-04-28 09:38] rbioteau opened #337 "PDF convertion doesn't support CJK character sets"
It appears that asciidoctor-pdf requires additional parameters to convert document into pdf that contains CJK character sets like Chinese, Japanese...etc.

To support those character sets they use a specific theme. Check the [documentation for the reference](https://github.com/asciidoctor/asciidoctor-pdf#support-for-non-latin-languages)

Would it be possible to integrate those options when convert

[2021-04-29 00:33] #314 closed, assigned to de-jcup

[2021-04-29 00:38] de-jcup opened #339 "Switch from travis to github actions"
Switch from travis to github ac

[2021-04-29 00:39] #339 closed, assigned to de-jcup

[2021-05-03 09:44] SaMuellerDLR commented on #333
Hi, bintray seems to now be officially out of service. I see you have already migrated a lot of your p2 update sites to github pages (already using the new yaml editor one!) Great work! In your last comment I see some mentions about you fixing some last issues, do you forsee any problems using the same approach for the asciidoctor-editor?

[2021-05-03 14:12] dejan2609 commented on #333
It is a scheduled maintenance / brownout session : https://status.bintray.com/incidents/3kkmd0pnsg9r

[2021-05-03 16:25] de-jcup opened #340 "Check and integrate copy image again if stil SAME origin problems in previews"
With #338 the image copy mechanism was removed .

The mechanism was introduced because of SAME origin policy problems in some preview browser output behaviour.

It must be checked if this is still an issue, at least at
- Windows 10
- Linux Mint/Ubuntu

A) If not the preferences option should be removed
B) If it's still necessary the preferences should be renamed to something like "copy images (avo

[2021-05-03 16:26] de-jcup commented on #333
@SaMuellerDLR  - I am still refactoring some parts inside the plugin - so I will get rid of the image location problems (users will be able to define image location by configuration files (see #338 )  but currently there are still some issues. And I am very busy at the moment.

I will adopt the Asciidoctor Editor also with my new p2 approach . But currently I am very busy and have not much time  -

[2021-05-04 11:55] Bananeweizen commented on #333
don't be confused by the "now" part in the table. that's in relation to the date the original article was published. the updates at the top have not been factored into that table. basically the last entry in the table is the only one being valid as of _now_.

[2021-05-05 14:53] de-jcup commented on #333
I just tested - and most plugins are no longer hosted at https://bintray.com/de-jcup ! Only 3 repositories are listed: `yamleditor`, `sqleditor`, `test-generic` but not this one.

OMG. I have no idea why this happened - it seems this is an issue at bintray.
Nevertheless I will migrate other plugins as soon as possible and provide a new update url at marketplace.

[2021-05-06 00:18] de-jcup commented on #333
created https://github.com/de-jcup/update-site-eclipse-asciidoctor-editor

[2021-05-06 18:08] mypsycho commented on #333
Thanks a lot for the fast reaction.

[2021-05-06 19:38] de-jcup commented on #331
@vogella : any updates here? Please look at my questions before

[2021-05-07 00:06] de-jcup opened #341 "Use ASP 1.2.0"
With https://github.com/de-jcup/asp/releases/tag/v1.2.0 newer asciidoctor parts were available inside server.

So publish library  local - see https://github.com/de-jcup/asp/issues/33#issuecomment-833956685 and update dependency + provide in next release.

[2021-05-07 00:53] #341 closed, assigned to nobody

[2021-05-07 00:53] #340 closed, assigned to nobody

[2021-05-07 00:56] de-jcup opened #342 "Per default when no asciidoc config file is found, a default file shall be generated in project root"
There shall be automaticaly a `.asciidoctorconfig.adoc` file be generated, when no configfile is found inside project

Inside this file the purposeshall be explained and some example snippets available (but not too much).

Also it shall be possible to turn the auto generation off by preferences

Reason for this feature: It shall become obvious for users that this file is helpful and how it can be

[2021-05-07 11:34] dhendriks commented on #333
It seems to be empty still, with only an `index.md` file. Any idea when an actual release will be there?

[2021-05-07 15:44] de-jcup opened #343 "Syntax highlight: support literal paragraphs"
Currently not supported by editor, but should be like this at github UI:

[code]
see also https://docs.asciidoctor.org/asciidoc/latest/syntax-quick-reference/#ex-literal

[2021-05-08 01:11] #342 closed, assigned to nobody

[2021-05-08 01:13] de-jcup opened #344 "Release 2.3.0"
Special: release will be deployed to new location because of #333 - because ASP location is also no longer available at bintray, our current build does fail (dependency is missing).

For this time - as long as ASP is not deployed to maven central - we accept this here.

Deployment see https://github.com/de-jcup/eclipse-asciidoctor-editor/projects/1

[2021-05-08 01:37] #333 closed, assigned to nobody

[2021-05-08 01:37] #344 closed, assigned to nobody

[2021-05-08 01:44] de-jcup commented on #333
I just deployed Version 2.3.0 to eclipse marketplace. Just do the update by the eclipse marketplace client  (as usual).
The update site will automatically be updated and the new version fetched.

[2021-05-10 07:39] de-jcup commented on #337
@rbioteau : I have deployed asciidoctor-editor V2.3.0 on eclipse marketplace a few days ago. There I used a new ASP server version which uses newer Asciidoctor . It seems (reading the linked documentation above) that here is a need for a custom CJK theme after this.

I think it would be the best option to implement generel pdf- theming support into the plugin instead?

So everybody could use own t

[2021-05-10 08:02] de-jcup commented on #255
@mojavelinux : Thank you. Was very busy in the last weeks(even months..) - so sorry for late response. And of course: I am interested.

I think you are talking about https://projects.eclipse.org/proposals/asciidoc-language ?
I tried to find the github repository, but "Source Repository Type:  GitHub"  points to https://projects.eclipse.org/source-repository-type/github were I didn't find the repo.

[2021-05-10 08:46] mojavelinux commented on #255
That's the proposal. The project is here: https://projects.eclipse.org/projects/technology.asciidoc

Currently, there are three entities:

* [AsciiDoc WG](https://asciidoc-wg.eclipse.org/) - oversees the specification process
* [AsciiDoc Language project](https://projects.eclipse.org/projects/technology.asciidoc) - the specification project itself
* [Eclipse Austen](https://projects.eclipse.org/pr

[2021-05-10 08:46] de-jcup commented on #332
@vogella
If you enter the `..` and press `CTRL SPACE` you have code completion:
![image](https://user-images.githubusercontent.com/11644753/117631454-8d52b180-b17c-11eb-900e-f86422359e8c.png)

(but may the editor should always provide `../` so users can directly have feedback?)

[2021-05-10 08:48] de-jcup commented on #330
Please try out new Version 2.3.0  - if you have still those problems, please comment again.

[2021-05-11 21:35] de-jcup commented on #303
Could you please tryout Version `2.3.0` on eclipse marketplace - if it is not working out-of-the-box please refer to https://github.com/de-jcup/eclipse-asciidoctor-editor/wiki/Asciidoctor-configfiles .

Please give me some feedback if this is still an issue.

[2021-05-11 21:37] de-jcup commented on #257
Could you please tryout Version `2.3.0` on eclipse marketplace - if it is not working out-of-the-box please refer to https://github.com/de-jcup/eclipse-asciidoctor-editor/wiki/Asciidoctor-configfiles .

Please give me some feedback if this is still an issue.

[2021-05-11 21:42] de-jcup opened #345 "Change adminition toolbar icon output to block variant."
## Current situation
At the moment when pressing the admonition toolbar icons (e.g. for Note) you get following:

[code]

This does not really need a toolbar icon...

## Wanted

Will be changed to
[code]
Which supports multi line support and provides a real help because entering those parts always is really cumbersome

[2021-05-11 21:43] de-jcup commented on #343
Current situation as a screenshot:
![image](https://user-images.githubusercontent.com/11644753/117888601-9c3b8000-b2b2-11eb-8250-7997f0d50b69.png)

[2021-05-11 21:55] de-jcup opened #346 "Syntax highlighting: Support delimited sidebar syntax"
Currently editor does not highlighted this:

![image](https://user-images.githubusercontent.com/11644753/117889767-5f708880-b2b4-11eb-83e9-aabbcaa2cd30.png)

see https://docs.asciidoctor.org/asciidoc/latest/blocks/sidebars/#ex-block

[2021-05-11 22:18] de-jcup opened #347 "Syntax highlighting: Do syntax highlighting lines having with 4 equals only"
E.g. to provide syntax highlighting delimited examples
[code]
see https://docs.asciidoctor.org/asciidoc/latest/blocks/example-blocks/

but also for admonition block syntax like
[code]

see https://docs.asciidoctor.org/asciidoc/latest/blocks/admonitions/

[2021-05-11 22:36] de-jcup opened #348 "Syntax highlighting: Support block titles"
[code]

see https://docs.asciidoctor.org/asciidoc/latest/blocks/add-title/#add-a-title-to-a-delimited-block

[2021-05-11 22:38] de-jcup opened #349 "Syntax highlighting: spuport delimited blocks"
[code]

see https://docs.asciidoctor.org/asciidoc/latest/blocks/add-title/#add-a-title-to-a-delimited-block

[2021-05-11 23:09] #343 closed, assigned to de-jcup

[2021-05-11 23:09] #348 closed, assigned to de-jcup

[2021-05-11 23:09] #347 closed, assigned to de-jcup

[2021-05-11 23:09] #349 closed, assigned to de-jcup

[2021-05-11 23:11] de-jcup commented on #346
![image](https://user-images.githubusercontent.com/11644753/117895576-ec204400-b2be-11eb-9c47-7a2f8c01f8b0.png)

[2021-05-11 23:11] #346 closed, assigned to de-jcup

[2021-05-11 23:12] de-jcup commented on #343
![image](https://user-images.githubusercontent.com/11644753/117895627-0e19c680-b2bf-11eb-9ce0-3ac592060311.png)

[2021-05-11 23:14] de-jcup commented on #349
![image](https://user-images.githubusercontent.com/11644753/117895779-5df88d80-b2bf-11eb-970f-a9706d8f65d4.png)

[2021-05-11 23:15] de-jcup commented on #347
![image](https://user-images.githubusercontent.com/11644753/117895829-7e284c80-b2bf-11eb-81a3-9fb68423c5ef.png)

[2021-05-11 23:16] de-jcup commented on #347
![image](https://user-images.githubusercontent.com/11644753/117895875-9c8e4800-b2bf-11eb-820d-6e4bf4df65a6.png)

[2021-05-11 23:18] de-jcup commented on #348
![image](https://user-images.githubusercontent.com/11644753/117895954-ce071380-b2bf-11eb-91fc-65f3d64071d9.png)

another one:

![image](https://user-images.githubusercontent.com/11644753/117895905-afa11800-b2bf-11eb-9ae0-dfbf4d289c14.png)

[2021-05-11 23:27] de-jcup commented on #305
Hmm... it's interesting that this is a INFO and not WARN - the information does directly come from the asciidoctor instance (ASP server).

With V2.3.0 ASP server instances has an updated asciidoctorJ dependency. Please try out if this happens still at info level.

[2021-05-11 23:30] de-jcup commented on #304
@vogella : Could you please tryout V2.3.0 and give feedback if this is still an issue? I changed a lot - maybe the problem does not occur any longer or can be handled via https://github.com/de-jcup/eclipse-asciidoctor-editor/wiki/Asciidoctor-configfiles

[2021-05-11 23:39] de-jcup commented on #336
With Version 2.3.0 there was a new version of ASP used - see https://github.com/de-jcup/asp/releases/tag/v1.2.0
With this https://github.com/de-jcup/asp/issues/32 was done where newer dependencies are used.

I tried out the examples with V2.3.0 and it did still not work out of the box.

But in https://github.com/de-jcup/STTK we do also work with C4 plantuml files. And this worked well.
As a workar

[2021-05-11 23:47] #345 closed, assigned to de-jcup

[2021-05-14 00:50] charleech opened #350 "The version 2.3.0 cannot render images from external locations"
I've just updated the **eclipse-asciidoctor-editor** version `2.3.0` from **Eclipse Marketplace**  and found that the _Insert Images from a URL_ (https://docs.asciidoctor.org/asciidoc/latest/macros/image-url/) as  _image block_ `image::xxx[]` and _inline image_ `image:` are not rendered as the following screen capture: -

1. The image with static URL
![image-01](https://user-images.githubuserconte

[2021-05-14 04:46] charleech commented on #350
The structure of the plugins and features are as the following: -

[code]

[2021-05-15 01:18] charleech commented on #350
I have a chance to investigate the _generated html file_ at _temp directory_, e.g. `<temp_dir>/asciidoctor-editor-temp/project_sample-a1544271665`.

#### 1. `The image-01.adoc`

There are 3 files generated with _significant <img> tag_ as the following: -
* -384777727_hidden-editorfile_image-01.adoc
* -384777727_hidden-editorfile_image-01.html

[code]
* -384777727_internal_image-01.html
  * This ma

[2021-05-15 14:41] de-jcup commented on #350
Thanx for reporting!
While refactoring code to handle the image dir location problems I totally missed the situation of having external resources as well and also transformed this URL - yes this is aboslutely a bug.

Will be fixed soon.

[2021-05-15 15:35] de-jcup opened #351 "File reference valdidator shall validate external locations correctly"
When an external location is referenced - e.g.
[code]
then the image is currently marked with a warning marker and complaining the image is not found at local file system (because its transformed to a relative path)

1. This will be changed. When a protocoll identifier is recognized it will be treated as an URL.
2. When enabled in preferences, for a found URL reference  a connection will be tried.

[2021-05-15 15:42] #350 closed, assigned to de-jcup

[2021-05-15 15:42] #351 closed, assigned to de-jcup

[2021-05-15 15:44] de-jcup opened #352 "Release 2.4.0"
see https://github.com/de-jcup/eclipse-asciidoctor-editor/projects/1

[2021-05-15 15:45] de-jcup commented on #350
Mentioned example project has now correct preview output:
![image](https://user-images.githubusercontent.com/11644753/118369852-57ab2f80-b5a5-11eb-957c-c8e7bd622290.png)

[2021-05-15 15:46] de-jcup commented on #351
When URL is found there are no warnings any longer:
![image](https://user-images.githubusercontent.com/11644753/118369852-57ab2f80-b5a5-11eb-957c-c8e7bd622290.png)

[2021-05-15 15:48] de-jcup commented on #351
When given reference URL is not found/correct than a warning with dedicated message appears:

![image](https://user-images.githubusercontent.com/11644753/118369900-90e39f80-b5a5-11eb-93ce-15b5f5c7784a.png)

[2021-05-15 16:54] #352 closed, assigned to de-jcup

[2021-05-15 16:57] de-jcup commented on #350
@charleech : I just uploaded Version 2.4.0 to eclipse marketplace containing this bugfix  - please tryout...

[2021-05-16 00:56] charleech commented on #350
Hi @de-jcup

I've upgraded the `eclipse-asciidoctor-editor` to version `2.4.0` and found that the image block with `simple static URL` and `URL with query parameter` are rendered properly as the following captured screen: -

### image-01.adoc
![image-01-fixed](https://user-images.githubusercontent.com/1825591/118381998-beb6fb80-b61a-11eb-861e-133be52f0975.jpg)

### image-02.adoc
![image-02-fixed](

[2021-05-19 08:32] vogella commented on #304
Thank @de-jcup and sorry for the long delay in my response.

Tested with the latest release and seems to work fine.

[2021-05-19 08:32] #304 closed, assigned to de-jcup

[2021-05-19 10:25] de-jcup opened #353 "Remove italic style from Delimiter styling"
## Situation
Delmited parts are always shown in italic -

![image](https://user-images.githubusercontent.com/11644753/118797821-3f852a00-b89d-11eb-8e2c-2c5e1b89c740.png)

## Wanted
Use normal font

[2021-05-19 14:49] de-jcup opened #354 "Fix wrong syntax highlighting for literal paragraphs"
## Situation
As shown in next picture the changes done in #349 , do also influence other blocks:
![image](https://user-images.githubusercontent.com/11644753/118797998-71968c00-b89d-11eb-9bf9-4595a1db214d.png)

We must restrict syntax highlighting for delimiters.

[2021-05-19 14:50] de-jcup commented on #354
Here an output example - (code see next comment)
![image](https://user-images.githubusercontent.com/11644753/118833798-06ab7c00-b8c2-11eb-87b0-20ca336c10d6.png)

[2021-05-19 14:50] de-jcup commented on #354
[code]

[2021-05-19 20:59] #353 closed, assigned to de-jcup

[2021-05-19 21:00] de-jcup commented on #353
![image](https://user-images.githubusercontent.com/11644753/118883793-f3b29f00-b8f5-11eb-96ce-f949486613cb.png)

[2021-05-19 23:24] #354 closed, assigned to de-jcup

[2021-05-20 00:23] de-jcup commented on #354
![image](https://user-images.githubusercontent.com/11644753/118900863-413d0500-b912-11eb-9e9c-5cc23cf6c5f4.png)

[2021-05-21 09:58] de-jcup opened #355 "HTML output generation does not show up progress while operation is ongoing"
## Situation
When a user starts preview in external browser and there is a problem

![image](https://user-images.githubusercontent.com/11644753/119119459-80ab4480-ba2b-11eb-8ee2-4adf5a7bd9a7.png)

One problem here is that there is no information about the search/wait  for HTML output to be rendered.
So it looks like "nothing happens".

## Wanted
When pressing the button a job shall be started and

[2021-05-21 10:09] de-jcup opened #356 "PDF output and internal preview works, but external view does not work"
## Situation
- Eclipse  2020-12
- Asciidoctor Editor V2.4.0
- Linux (Ubuntu based) with Gnome 3 based desktop
- Preferences see next picture

![image](https://user-images.githubusercontent.com/11644753/119120736-eb10b480-ba2c-11eb-8607-267869150b45.png)

When pressing the "Open asciidoctor output in external browser" action in toolbar I have always

![image](https://user-images.githubusercontent.c

[2021-05-21 10:32] de-jcup opened #357 "Internal preview often does not show rendered file directly - a press to F5 is necessary"
## Situation
When rendering (bigger?) documents if happens sometimes that the rendering preview (progress bar) is shown very long or there is only a white screen inside preview.

But when pressing F5 the correct preview is shown instantly.

_It seems this happens only when the file is rendered first time - maybe when asciidoctor needs a little bit more longer, because no caching available etc.._

[2021-05-23 16:11] de-jcup commented on #324
Please try out with current version.

If this is still a problem, please take a look at https://github.com/de-jcup/eclipse-asciidoctor-editor/wiki/Asciidoctor-configfiles and try to solve it by using a dedicated editor config file.

[2021-05-23 16:23] de-jcup commented on #355
Here an example:

[code]

- internal preview was disabled per default (in preferences)
- opened example file
- now switch inside editor to internal preview
- the progress preview is showing up, but not updated
- just wait... and after a while ... :
![image](https://user-images.githubusercontent.com/11644753/119268522-ad11bd00-bbf3-11eb-8a82-56fac9a647c6.png)
-  pressing now F5 in editor does the j

[2021-05-23 17:01] de-jcup commented on #355
Hmm..
- works with Eclipse-RCP-2018-12 without any problems .
- works with fresh install of Eclipse 2021-03
- works still not inside my upgraded 2020-12 to 2021-03 eclipse instance

So ... compared preferences:
- found difference:  "Enable auto build for external preview"  was set in problematic instance to "on"

After changing this in my Eclipse-RCP runtime I had the the same problems, so reprodu

[2021-05-23 17:18] de-jcup commented on #355
Found the problem: The old preview file was always deleted (because to force browser shows new output). But afterwards.. Only when NO auto build was enabled the build was triggered again-  this was a former optimization, but now it prevents the normal rendering process.

[2021-05-23 17:25] #356 closed, assigned to de-jcup

[2021-05-23 17:26] de-jcup commented on #355
Reopened the issue, https://github.com/de-jcup/eclipse-asciidoctor-editor/commit/411db2bc93fe6df589bc0a1e21137c82f9ca6ca3 did not fix the missing progress operation but #356 (the preview rendering).

[2021-05-23 17:49] de-jcup commented on #355
We do not need to do anything here - build operation does always trigger progress info about preview build.

[2021-05-23 17:49] #355 closed, assigned to de-jcup

[2021-05-23 17:53] de-jcup commented on #357
After the fixes for #355 the problem with "switch to internal preview" still exists:

[code]

- internal preview was disabled per default (in preferences)
- opened example file
- now switch inside editor to internal preview
- the progress preview is showing up, but not updated
- just wait... and after a while ... :
![image](https://user-images.githubusercontent.com/11644753/119268522-ad11bd00-bbf3

[2021-05-23 20:36] de-jcup opened #358 "Image generation always timing out."
This issue is a copy from eclipse marketplace: https://marketplace.eclipse.org/comment/7564#comment-7564

---
I have installed the asciidoctor plugin on a second machine. Before I did I installed the GraphViz stuff and tested it and its working (you see - I learned my lesson with this plugin).

But now I have another most annoying effect:

If I create a testfile containing just

[code]
and save it

[2021-05-23 20:51] de-jcup commented on #358
Tried with eclipse 2021-03:

![image](https://user-images.githubusercontent.com/11644753/119276013-aba6bb80-bc18-11eb-8443-5ddad528afb5.png)

[2021-05-23 21:03] de-jcup commented on #358
## Reproduce mentioned problems
Used Eclipse 2021-03 on Linux (ubuntu based):

Tried attached `puml` file [classdiagram-test.puml.zip](https://github.com/de-jcup/eclipse-asciidoctor-editor/files/6528908/classdiagram-test.puml.zip)
 on my Linux machine - initial rendering was very fast.

![image](https://user-images.githubusercontent.com/11644753/119276139-72228000-bc19-11eb-8b30-96c0bda91f46.png)

[2021-05-23 21:12] de-jcup opened #359 "Eclipse start, opened asciidoctor editor freezes eclipse until ASP/Asciidoc rendered"
When closing eclipse and leaving an asciidoctor editor tab open, the next restart will start rendering the preview - but this blocks the complete eclipse UI ! User interaction is not possible in the mean while.

[2021-05-23 21:48] de-jcup commented on #358
## Former commit
After last commit the "file not found" problem will no longer appear.

## Still problems when editor new created
Setup: In preferences default preview layout is set to "Vertical"

When
-  removing the temp files (forcing `plantuml` to do some renderings without cache)
-  close opened editor
-  opening the plantuml file in editor again, the preview dialog is still open and the "pre

[2021-05-23 21:55] de-jcup commented on #358
## What about .adoc files at all?
Tested with `test.adoc`: same problem  - initally the editor does only provide external preview files  but not the internal ones! So this, what is mentioned inside #357 !

## Current preferences
![image](https://user-images.githubusercontent.com/11644753/119277845-3213cb00-bc22-11eb-8fd7-238cedd9c69b.png)

[2021-05-24 00:13] #357 closed, assigned to de-jcup

[2021-05-24 00:13] #358 closed, assigned to de-jcup

[2021-05-24 00:13] #359 closed, assigned to de-jcup

[2021-05-24 00:22] de-jcup commented on #336
The current used version of asciidoctorj-diagram is 2.1.2
This version uses JRuby parts having plantuml 1.2021.2 inside:

Path inside asp-server-asciidoctorj-dist.jar (when using ASP for rendering)  `/gems/asciidoctor-diagram-plantuml-1.2021.2/lib/asciidoctor-diagram/plantuml/`

[2021-05-24 00:39] de-jcup opened #360 "Release 2.4.1"
see https://github.com/de-jcup/eclipse-asciidoctor-editor/projects/1

[2021-05-24 00:50] #360 closed, assigned to de-jcup

[2021-05-24 15:40] junquero commented on #324
I have been able to manage the issue with your suggestion and the information in https://github.com/de-jcup/eclipse-asciidoctor-editor/issues/257#issuecomment-526567133

With the file .asciidoctorconfig with content
`:imagesdir: ./dbus-etx-producer/doc`

Please note that it is mandatory to add the ./ prefix in the path, and having only dbus-etx-producer/doc doesn't work. This is not what is usuall

[2021-05-24 15:40] #324 closed, assigned to nobody

[2021-05-26 15:38] dhendriks opened #361 "Image reference validation inconsistent with preview"
I have the following in my `.asciidoc` file:

[code]

Here `{tools-imgsdir}` holds value `../images/tools`.

In the preview, the image shows up as expected. However, I do get the following warning from validation:

[code]

This is not consistent, as the image displays just fine in the preview. I think the validation should then also be able to successfully find it.

It seems the validation does no

[2021-05-28 22:49] de-jcup commented on #257
@Kylja : I close this issue - please try out the new configuration possibilties with the asciidoctor config file (as mentioned in my last comment) - if there are still any problems please create another issue.

[2021-05-28 22:49] #257 closed, assigned to nobody

[2021-05-31 08:25] mmoser18 opened #362 "No horizontal scrollbar on generated images"
When writing a PUML file the graphic preview (right pane)  is often not very useful.
Typically only a small part of a graph is shown and the bottom part is often chopped off, even though there would be enough space below the graph - see the attached screenshot ![ScreenShot AsciiEditor PUML file preview](https://user-images.githubusercontent.com/17732576/120164016-67a84d80-c1fa-11eb-8bc9-52195f9cba

[2021-05-31 08:50] de-jcup opened #363 "Provide listsprite shortcut for archimate plantuml sprite list"
Links:
- https://plantuml.com/archimate-diagram
- https://www.archimatetool.com/

[code]

results in
![image](https://user-images.githubusercontent.com/11644753/120167338-e8b51400-c1fd-11eb-9b9a-89932c008539.png)

So this could be a shortcut action which simply generates this in a tempfolder an shows it inside default browser by one click on dedicated toolbar action.

[2021-05-31 14:22] de-jcup opened #364 "include resolution does handle asciidoctorconfig variable"
Being inside root folder of a project the validator and also the code completion does not work when asciidoctorconfigdir attribute is used inside asciidoctorconfig.adoc:

![image](https://user-images.githubusercontent.com/11644753/120207103-4bbd9f80-c22c-11eb-990a-4de57bcb1b69.png)

Rendering is okay - only eclipse validation and code completion do not work!

[2021-06-09 10:07] de-jcup opened #365 "Existing `.asciidoctorconfig.adoc` files are overwritten by editor"
I just added a a
[code]
to an existing `.asciidoctorconfig.adoc` file. The editor did always overwrite it and remove the SPDX header

[2021-06-25 11:19] charleech commented on #336
FYI,

The `asciidoctor-diagram` has updated the `plantuml` to version `1.2021.7` as the following: -

* https://github.com/asciidoctor/asciidoctor-diagram/issues/357
* https://rubygems.org/gems/asciidoctor-diagram-plantuml

Anyhow it has not been released since Apr, 2021 as the following: -

* https://github.com/asciidoctor/docker-asciidoctor/issues/207

I'm also looking forward to using it within

[2021-06-28 11:20] pepijnve commented on #336
Another FYI. Starting with asciidoctor-diagram 2.1.0 the embedded versions of PlantUML and Ditaa are split off into separate gems. Those can (and are) updated without introducing a new version of asciidoctor-diagram. If you use a dependency manager like bundlr you'll need to update the dependency graph to pull in the most recent versions of those jar wrapper gems.

This applies to the Ruby version

[2021-06-28 12:41] rolfkleef opened #366 "Internal preview turns blank after first change"
When I open an internal preview on a file, it initially shows the preview. But when switching to another file or application, or saving the same file, the preview turns blank.

Choosing _Reload_ in the context menu does not change anything. When looking with _Inspect Element_, the HTML source looks alright:

![Screenshot from 2021-06-28 14-28-15](https://user-images.githubusercontent.com/223935/12

[2021-06-30 20:54] de-jcup commented on #366
Will try to reproduce, use following snippet:

[code]

[2021-06-30 21:21] de-jcup commented on #366
# Tried to reproduce

## Setup
- Linux Mint 20.1
- Cinammon
- Eclipse 2021-06 (downloaded fresh from https://www.eclipse.org/downloads/packages/release/2021-06/r/eclipse-ide-java-developers )
- installed Asciidoctor editor plugin 2.4.1

## Tried out test snippet
- Opened test snippet, edited etc. no problems
- switched between editors, no problem
![image](https://user-images.githubusercontent.com/

[2021-07-08 08:58] rolfkleef commented on #366
Thanks for the effort, @de-jcup! I agree that it's probably some environment-specific problem due to some interaction of Eclipse plugins... I removed the Wildwebdeveloper plugins, which seem to create Eclipse errors, and now it works as expected most of the time. Occasionally, after multiple opens and closes, the view still goes blank.

I'll try more combinations of browsers and windows managers t

[2021-07-08 08:58] #366 closed, assigned to nobody

[2021-07-11 18:57] rolfkleef commented on #366
For completeness: I have switched back from Wayland to Xorg as window manager for a few days now, which seems to completely resolve the issue.

[2021-07-12 12:02] company-jcup commented on #365
Fixing this, fixing english grammer would also be nice:
[code]
should be replaced by
[code]
..

[2021-07-20 18:18] Fuzzo commented on #303
Using [my example project](https://github.com/Fuzzo/TestAsciiDoc) to test the v2.4.1, is still an issue.

[2021-07-27 13:16] aethy opened #367 "Cannot reference images or generated diagrams"
I have version 2.4.1 of the plugin installed via Eclipse Marketplace, in which #358 should've been fixed. However, I have similar issues.
* My generation PlantUML diagram is not displayed. However, is has correctly been generated. When I open the source html from within Eclipse, I see that the image references to `C:\Users\<myuser>\AppData\Local\Temp\asciidoctor-editor-temp\project_registries15194

[2021-08-08 14:03] charleech commented on #336
@de-jcup

I apologize for ping and disturbing you. I would like to inform you that there is an update on the topic discussing about the `asciidoctorj-diagram` release plan at https://asciidoctor.zulipchat.com/ as the following

Sorry for not acting for such a long time. I've started a PR trying to split out the plantuml and ditaa extensions into separate jars copying the structure of asciidoctor-d

[2021-08-30 16:18] de-jcup commented on #336
@charleech, @pepijnve  : Thank you very much for the input. I will try to fix it in next version.
_(sorry for the late response)_

[2021-08-30 21:55] de-jcup commented on #322
With https://github.com/de-jcup/asp/releases/tag/v1.3.0 ASP server can now be started with custom environment entries.

[2021-08-30 21:57] de-jcup commented on #336
https://github.com/de-jcup/asp/releases/tag/v1.3.0 does now include the new versions. Will update asp dependencies on deployment.

[2021-08-30 22:42] #365 closed, assigned to nobody

[2021-08-30 22:46] #336 closed, assigned to de-jcup

[2021-08-30 22:49] de-jcup commented on #322
Either implementation has a configuration page for custom environment entries (in this case ASP and CLI variant must both provide all user entries) - or a dedicated GraphViz preference entry will be set (also in this case ASP and CLI variant are necessary).

[2021-09-02 07:42] anb0s commented on #322
The solution with Env varibale is also valid and is used in eclox plugin and other doxygen / graphviz / dot  related tools.

Here the customized location without system Env-entry is usefull for multiple Eclipse distributions with all the tools "embedded"...

[2021-09-02 07:43] anb0s commented on #322
Can we set this manually in a preference file form workspace?

[2021-09-03 07:58] vogella opened #368 "Add pushing to update site to Github actions"
I recently setup the push to an update site via simple Github actions, see here https://github.com/vogellacompany/eclipse4book/blob/master/.github/workflows/maven.yml

IIRC you are using a shell script outside Github for this. Why not push it via the Github action?

[2021-09-07 22:50] de-jcup opened #369 "Provide possibility to customize environment entries in asciidoctor process"
In #322 there was a need to setup the GRAPHVIZ_DOT environment variable in ASP launches.

Instead of providing a specialized preference value for only this custom env entry, inside this issue we will

- provide a dedicated preference page for custom environment entries
- there will be a "enabled" checkbox as well, so we can globally disable all entries without removing tem
- the custom environment

[2021-09-07 22:52] #369 closed, assigned to de-jcup

[2021-09-07 22:55] de-jcup commented on #322
I created #369 to provide custom environment entries for ASP and also for installed asciidoctor.
_Will be contained inside Version 2.5.0 (upcoming release on eclipse marketplace in the next weeks)._

Here the screen shot from the feature:
![image](https://user-images.githubusercontent.com/11644753/132420823-fb471405-640f-41ad-9f65-1f4274c45672.png)

[2021-09-07 22:59] de-jcup commented on #369
With last commit we have now a dedicated preference page and can set custom environment entries:
![image](https://user-images.githubusercontent.com/11644753/132420823-fb471405-640f-41ad-9f65-1f4274c45672.png)

[2021-09-16 14:48] vogella opened #370 "java.lang.NullPointerException: Cannot invoke "de.jcup.asciidoctoreditor.asciidoc.AsiidocConfigFileSupport.calculateResolvedMap("
From my Eclipse log:

java.lang.NullPointerException: Cannot invoke "de.jcup.asciidoctoreditor.asciidoc.AsiidocConfigFileSupport.calculateResolvedMap(java.util.Map, java.util.List)" because "support" is null
	at de.jcup.asciidoctoreditor.provider.AsciiDoctorAttributesProvider.resolveAttributes(AsciiDoctorAttributesProvider.java:106)
	at de.jcup.asciidoctoreditor.provider.AsciiDoctorAttributesProvi

[2021-09-17 08:16] de-jcup commented on #370
Hello Lars, is this just annoying but it works (it seems to be at eclipse application startup phase) or does it lead to the situation that you cannot use the plugin?

(But of course this should be fixed ...)

[2021-09-17 08:21] vogella commented on #370
@de-jcup I see this quite a lot in my log, so it seems that this is a regular error. Plug-in still works but my log is full of it. :-/

[2021-09-17 08:21] vogella commented on #370
I restart frequently, so this might be the reason that I also see it frequently.

[2021-09-17 08:29] de-jcup opened #371 "Provide Maven build of plugin"
## Situation
The gradle build does not build eclipse parts  but only the "normal" parts. Reason: Problems with eclipse dependencies, OSGI etc.

## Wanted
Automate the complete build process.

## Solution
If we change the build to maven tycho we could completely automate the process

[2021-09-17 08:31] de-jcup commented on #371
@vogella : Maybe you could help here?

[2021-09-17 08:33] vogella commented on #371
Absolutely.

[2021-09-17 08:33] de-jcup commented on #368
I was forced a long time to use Maven 1.0, write extensions in XML etc.  (yes I know it is a very long time...) but this is something that influenced my life made me biased and I embraced gradle so much at all ...

Maven 3.0 is much better - I know ...

The gradle build I am using is only for building and testing the "non-eclipse" parts (I seperate "normal" logic and eclipse parts).
Reason: I trie

[2021-09-17 08:45] de-jcup commented on #371
Here some pre-requisites :

- https://github.com/de-jcup/eclipse-asciidoctor-editor/blob/master/asciidoctor-editor-gradle-dep/build.gradle
  does refer ASP server. Currently ASP server jars are not available, because formerly hosted at bintray....
   see https://github.com/de-jcup/asp/issues/30

Some additional information:
-  https://github.com/de-jcup/eclipse-asciidoctor-editor/blob/master/ascii

[2021-09-17 09:00] vogella commented on #371
The plan is to replace the Gradle build with Maven or do you plan to keep both?

[2021-09-17 09:38] vogella commented on #371
Please see https://github.com/de-jcup/eclipse-asciidoctor-editor/pull/372 for the initial setup. For the necessary libraries, I would not know where to search them. If they are available via Maven central you can add them to the target platform via M2e integration, see here https://www.vogella.com/tutorials/EclipseJarToPlugin/article.html

I hope this help, I don't think I would be very efficient

[2021-09-17 10:14] de-jcup commented on #371
@vogella : Thank you very much. I will check the PR and tryout to add the libs etc. If I have still questions I will ask you then.

[2021-09-17 11:07] vogella commented on #371
Sure and thanks. Adding more plug-ins is just a question of adding <module>path</module> to the pom.xml. It is a bit more complex for test plug-ins. Once the libs are there, I can do this. Maybe we can do this in your repo directly in a branch? Could you give me write access?

[2021-09-17 22:06] de-jcup commented on #371
- I think there should be only one build system.
- When all gradle tasks are replaced by maven pendants (and more...) and github actions are updated as well, we should remove the gradle parts completely.

[2021-09-17 22:12] de-jcup commented on #371
I just invited you.

[2021-09-17 22:35] de-jcup opened #373 "Integrate eclipse-commons library via maven dependency"
## Situation
Currently `eclipse-commons` library (https://github.com/de-jcup/eclipse-commons)  is directly added into `lib` folder inside Git repository. Having a binary/library inside a GIT repo is normally a very bad idea.  (

## Wanted
No binary version of `eclipse-commons` inside GIT any longer

## Solution
When #371 has been done and https://github.com/de-jcup/eclipse-commons/issues/30 as wel

[2021-09-17 22:37] de-jcup commented on #371
Just as an information: My `eclipse commons` library is currently directly added into GIT. With https://github.com/de-jcup/eclipse-asciidoctor-editor/issues/373 this will become a maven dependency as well. The library is just one central library to "not reinvent the wheel" and is used in most of my eclipse plugins.

[2021-09-17 22:38] de-jcup commented on #371
https://github.com/de-jcup/eclipse-asciidoctor-editor/pull/372 is the first step but PR will not close this issue, so removed the former link.

[2021-09-17 22:47] de-jcup commented on #370
A simple guard-close when support is not installed could handle this - but maybe this would have additional side effects (e.g. a asciidoc document is not rendered at the startup etc.)

So maybe just the time for support object creation should be earlier.

[2021-09-28 08:09] vogella commented on #371
Any news with asp-server-asciidoctorj-launcher-dist.jar? It is required by de.jcup.asciidoctoreditor and IIRC you were planning to add it to Maven? Alternative you could also add the JAR to the the lib folder so that we can continue with the update of the build and remove it later once you moved it to Maven central.

[2021-10-07 23:49] jgsuess opened #374 "Eclipse Ant provision"
Could you expose some or all of your execution using ant tasks in eclipse-platform [Ant Extension Points](https://help.eclipse.org/latest/topic/org.eclipse.platform.doc.isv/reference/extension-points/org_eclipse_ant_core_antTasks.html)? This would allow running all the ASCIIDOCTOR beauty with none of the hassle in a CI workflow!

[2021-10-29 08:09] de-jcup commented on #374
With #371 the build will be changed to maven tycho build - so CI workflow will become very easy and eclipse parts can be build completely. Or did I missunderstood your request/question ?

[2021-10-29 08:16] de-jcup commented on #371
Hello @vogella , sorry for the late response, was very busy. I just created https://github.com/de-jcup/asp/issues/39 to address the problem.

[2021-10-29 13:55] de-jcup commented on #371
Hello Lars,
I fixed the problem with #376  - which is already merged to master.
There were multiple problems, but now the gradle build works again.

[2021-10-29 13:57] de-jcup commented on #371
@vogella : The main topic of the gradle build fix is to use not asp* dependencies of version `1.3.0` but `1.3.1`. I did not deploy 1.3.0 at maven central, but only 1.3.1

[2021-11-01 12:00] vogella commented on #371
I'm a bit confused. What do we want to do as a next step?

[2021-12-30 18:31] mmoser18 opened #380 "PUML includes not working when files are not in project's root folder"
I created a coupled of .puml files in our project for documentation purposes. Since they became a bit numerous I wanted to move these files to a sep. subdirectory "docs" to keep the root directory less crowded.

Some of my files include others using include-lines like "!include file.puml".

This worked fine when the files were in the root directory but NOT ANYMORE after moving the files to said su

[2022-01-23 22:23] jgsuess commented on #374
Yes, you have not understood this correctly. What I had hoped for was was that you could integratethe eclipse extension Point saw that the eclipse extension point for Ant tasks, sothat asciidoctor could be called from within eclipse's Ant facility directly.

[2022-01-24 20:46] r-pf opened #381 "Headline-tree is empty in Outline-View"
Preferences:
In the preferences for Asciidoctor Editor I set the value for "Default preview layout" to "Hide preview, use external browser".

Action:
When opening an asciidoc-file the Outline-View remains empty, even when the asciidoc-file contains headlines.
After changing the value of "Default preview layout" to an other value the headline-tree appears in the Outline-View.
... and then changing

[2022-01-27 05:57] de-jcup opened #383 "Give possibility to translate documents automatically"
## Situation
While documenting in a foreign language it's sometimes necessary to translate text parts - at least to check if the written text (in a foreign language)  is correct.

There exist many online tools to do this job now for free - but it's cumbersome to open a page and copy paste the stuff.

## Wanted
As a user I want to
- translate  a complete folder with all containing asciidoc elements

[2022-01-27 06:05] de-jcup commented on #383
## Information

### Google translation api

Call seems to be :
[code]
See more at https://cloud.google.com/translate/docs/reference/rest

[2022-02-02 07:11] de-jcup opened #384 "Open in external browser action shall hide internal preview per default"
### Situation
#### Situation 1 - Internal preview + open in external browser
A save /rebuild of the document does not lead to a new generated external preview file

#### Situation 2 - Auto build
There exists an auto build feature for external preview.

The use case was:
- user starts preview in external browser and keeps the browser open
- user changes some text inside editor and saves or press ma

[2022-02-03 07:05] vogella commented on #371
@de-jcup any updates from your side?

[2022-02-04 22:30] de-jcup commented on #371
Update:
- eclipse commons now available at maven-central (https://mvnrepository.com/artifact/de.jcup.eclipse.commons/eclipse-commons)
- asp parts are available at ( https://mvnrepository.com/artifact/de.jcup.asp)

I have added the dependencies as PDT dependencies in last commits,, but there are still some problems.
For example: https://mvnrepository.com/artifact/de.jcup.asp/asp-server-asciidoctorj

[2022-02-10 09:50] vogella opened #385 "java.lang.NullPointerException in de.jcup.asciidoctoreditor.asciidoc.AsiidocConfigFileSupport.calculateResolvedMap("
Happens during save:

java.lang.NullPointerException: Cannot invoke "de.jcup.asciidoctoreditor.asciidoc.AsiidocConfigFileSupport.calculateResolvedMap(java.util.Map, java.util.List)" because "support" is null
	at de.jcup.asciidoctoreditor.provider.AsciiDoctorAttributesProvider.resolveAttributes(AsciiDoctorAttributesProvider.java:106)
	at de.jcup.asciidoctoreditor.provider.AsciiDoctorAttributesProvi

[2022-02-10 09:52] vogella commented on #385
Maybe follow-up of:

java.lang.IllegalArgumentException: Attempted to beginRule: MultiRule[], does not match outer scope rule: R/
	at org.eclipse.core.runtime.Assert.isLegal(Assert.java:66)
	at org.eclipse.core.internal.jobs.ThreadJob.illegalPush(ThreadJob.java:137)
	at org.eclipse.core.internal.jobs.ThreadJob.push(ThreadJob.java:401)
	at org.eclipse.core.internal.jobs.ImplicitJobs.begin(ImplicitJ

[2022-02-20 16:58] de-jcup commented on #385
@vogella : the second callstack has nothing to do with the first one.
The problem is here:
https://github.com/de-jcup/eclipse-asciidoctor-editor/blob/35705dbb50187fb9cdc51575582936586678e456/asciidoctor-editor-plugin/src/main/java/de/jcup/asciidoctoreditor/provider/AsciiDoctorAttributesProvider.java#L105-L106

The returned support is null
And the support is only set by these calls:
![image](https:

[2022-02-20 17:00] de-jcup commented on #385
A temporary workaround should be to either enable HTML preview or to turn off image validation.

[2022-02-20 17:07] de-jcup commented on #385
Was able to reprocude. Happens only (but always) when preview is disabled. Editor works at all, but at least image validation will not work  - because of exception.

Will fix it.

[2022-02-20 17:52] #385 closed, assigned to de-jcup

[2022-02-20 18:27] de-jcup commented on #384
After implementing the switch action it became clear that this would feel a little bit odd when the drop down menu after the click does still show the vertical/horizontal preview icon in toolbar - but no longer visible.
![image](https://user-images.githubusercontent.com/11644753/154857758-3994c22f-c787-4f11-9bbd-c8741fbf13ce.png)

Also the `Hide preview panel when opening external` is a little bit

[2022-02-20 19:23] de-jcup opened #386 "Cleanup toolbar - group actions better and make easier to find"
Currently it is often a little bit overwhelming when looking for an action inside the toolbar. Things are not easy to find.

Should have a better UIX.

[2022-02-20 19:58] #384 closed, assigned to nobody

[2022-02-20 19:58] #386 closed, assigned to de-jcup

[2022-02-20 19:59] de-jcup commented on #370
This is a duplicate of #385 which is fixed there, so close this issue

[2022-02-20 19:59] #370 closed, assigned to nobody

[2022-02-20 20:04] de-jcup commented on #384
Together with #386 the tool bar was changed this way (the preview external brows icon has been changed also):
![image](https://user-images.githubusercontent.com/11644753/154861563-23df732d-8944-4cad-9405-87e22505b607.png)

[2022-02-20 20:04] de-jcup commented on #386
![image](https://user-images.githubusercontent.com/11644753/154861563-23df732d-8944-4cad-9405-87e22505b607.png)

![image](https://user-images.githubusercontent.com/11644753/154861636-b8dd52c0-cbd1-44dc-b945-d1b4db3c835e.png)

![image](https://user-images.githubusercontent.com/11644753/154861656-176fa1f3-eabe-4725-8241-da6c2870ce12.png)

[2022-02-20 21:58] de-jcup opened #387 "Provide possiblity to set a zoom level for internal previews"
With #382 it was mentioned that Plantuml-Output was not correct rendered/not all visible.

Even when I was not able to reproduce the problem, the benefit of having a possiblity to change the zoom level or the output area at all would be a great beneft.

This can be either done by
- manipullating the browser zoom level (or document.zoom)
- manipulating the generated HTML render output width of the

[2022-02-20 22:39] de-jcup opened #389 "Upgrade lib plugin to 2.4.0 and use ASP server 1.4.1 as dependency"
necessary because of https://github.com/de-jcup/asp/issues/44 and also to get newer asciidoctorj dependencies.

[2022-02-20 22:51] de-jcup commented on #322
Hmm... after some tests before releasing, there are some odd situations:
- changing an environment to different value results in 2 or 3 running ASP server instances!
  Looks like a bug which must be fixed before releasing
- when I set `GRAPHVIZ_DOT` it is inside the JVM process of ASP server, okay, but when using something like `/notexisting/dot" and set it as this environment value, system instal

[2022-02-20 23:12] de-jcup commented on #322
Seems to be necessary to treat the GRAPHVIZ_DOT variable special in ASP. So must wait for https://github.com/de-jcup/asp/issues/44

[2022-03-11 06:50] de-jcup opened #390 "Change table template"
## Situation
The generated table example when pressing on the `table` toolbar icon does generate

![image](https://user-images.githubusercontent.com/11644753/157815694-edb4cc30-c92f-4399-aefa-9caead4572a2.png)

But the cols are optional - when not defined, all columns have the same size:

![image](https://user-images.githubusercontent.com/11644753/157815969-4d2f4f0a-ed69-4fac-9d0d-7eaf3fbf6df0.png

[2022-03-18 07:22] de-jcup commented on #381
## Reproduce with eclipse 2021-12
1. Used eclipse-2021-12 + current development state of plugin
2. Created file `test-on-startup.adoc` with two headlines inside
3. Execute "File->Restart"
4. Now the outline is initial empty (see next figure)
![image](https://user-images.githubusercontent.com/11644753/158953261-2e157688-ae66-4276-8df3-82e501c8f948.png)

## Reproduce with eclipse 2018-x
Not reproduc

[2022-03-18 07:27] de-jcup commented on #381
This is related to
- https://github.com/de-jcup/eclipse-asciidoctor-editor/issues/385
- https://github.com/de-jcup/eclipse-asciidoctor-editor/issues/370

[2022-04-07 07:29] de-jcup commented on #383
This is too much . People would need to define api keys etc. I do not think this is really necessary.

[2022-04-07 07:29] #383 closed, assigned to nobody

[2022-04-07 08:01] de-jcup commented on #380
@mmoser18 : Sorry for the late response.

## Reproducing the problem
I tried to reproduce the problem

[code]

create file structure with `file2.puml` and `file3.puml`
[code]

![image](https://user-images.githubusercontent.com/11644753/162149282-245974fb-e2f7-40fc-a6fa-2743a7319918.png)

When showing the preview plantuml did complain about not being able to include the plantuml file (file3 in the

[2022-04-07 08:28] de-jcup commented on #374
Okay. I understand that you want to use the ANT eclipse plugin to trigger asciidoc actions.
So far so good.

But...
The eclipse asciidoctor editor is designed for developers to edit .adoc files, get an overview etc. For example
- Outline view
- Preview
- Call hierarchy
- Error markers
- Syntax highlighting
- .. more UI staff..

So what could you want to do with the editor plugin via ant?
- render

[2022-04-07 10:42] jgsuess commented on #374
That's right, but we are using ant + eclipse as a DevOps environment for model-driven operations. If we had your tooling available from ant, all the phantastic output could be rendered in our toolchains. High-quality, automatic documentation on every build, after every model-driven run. Given how many features the tool has, even a part would give us a dramatic boost!

[2022-04-11 10:24] vogella commented on #373
I think we have done this

[2022-04-11 10:24] #373 closed, assigned to nobody

[2022-04-11 10:24] vogella commented on #371
@de-jcup anything left here?

[2022-04-13 09:46] rbioteau opened #392 "Images preview"
When a path to an image contains a character that is URL encoded in the preview html (e.g.: space character = `%20`). The `src` attribute of the image is replaced with an invalid path into a `tmp` folder.

https://github.com/de-jcup/eclipse-asciidoctor-editor/pull/391 fixes this issue by URL decoding those image paths before testing their existence and avoid the invalid replacement in the `<img>`

[2022-04-13 15:03] rbioteau opened #394 "SVG images not display in internal preview on Windows"
A meta tag exists in the generated html file `` that should ensure that legacy browser like Internet explorer enables a compatibility mode to workaround the issue. It seems to not work as expected in the case of the SWT internal browser on windows.

I see two solutions to fix this issue:
* Uncomment the meta tag in the html document [here](https://github.com/de-jcup/eclipse-asciidoctor-editor/blob

[2022-04-13 15:12] rbioteau opened #396 "[Preview] Images not displayed on firefox"
The behavior between browser may vary when the `src` of the `img` is not a proper URI (`file:/...`).
While Chrome doesn't complain, Firefox do not display images if the src is not a URI.

Fixed by https://github.com/de-jcup/eclipse-asciidoctor-editor/pull/395

[2022-04-16 15:35] #392 closed, assigned to nobody

[2022-04-16 16:25] de-jcup commented on #373
Remark: We have done this for the maven - build (#371) . There are still some changes necessary to have the maven build full working, but we have done most parts now and it is okay to close this issue.

[2022-04-16 17:25] de-jcup commented on #371
There are still some steps to do:

- [ ]  We must reintegrate the library plugin to the maven build

   Reason:
   - the library plugin was designed to have all ASP/AsciidoctorJ dependencies inside
   - at runtime for ASP the  library ASP jar was used to start the ASP.
   - also we wanted to have new features/bugfixes editor releases updated without downloading same dependencies again, even when w

[2022-04-16 17:29] de-jcup opened #397 "Start architecture and developer documentation"
## Situation
Currently there are many things being not documented. Even for myself (I did the most coding until today) it is sometimes not easy to remember why and how things are done inside the plugin.

This is an odd situation and must be changed, so other contributors have it easier to start/contribute. Also it will improve quality and make conversions / discussions easier.

## Wanted
Improve d

[2022-04-16 23:40] #397 closed, assigned to de-jcup

[2022-04-22 08:40] vogella commented on #371
As we source from Maven only changed parts will be included in the new build and downloaded.

If the server is part of the classpath of the plugin you can start it directly from the plug-in

[2022-04-28 06:27] de-jcup opened #399 "Editor preview does sometimes show wrong content"
## Situation
Sometimes, when I have shown other asciidoc files already inside editors and I open a (external?) preview , the preview does not show the correct file. Even the html file name used to show in preview was not correct and another one was be used instead.

In this case also the Linking between editor headlines and browser ui did not work .
Happened with Version 2.4.1 on a Ubuntu based Li

[2022-04-28 07:30] #396 closed, assigned to nobody

[2022-04-28 07:34] #394 closed, assigned to nobody

[2022-04-28 07:53] #399 closed, assigned to de-jcup

[2022-04-30 00:44] #389 closed, assigned to nobody

[2022-04-30 01:19] #322 closed, assigned to de-jcup

[2022-04-30 01:38] #390 closed, assigned to nobody

[2022-04-30 01:50] de-jcup opened #401 "Start ASP server only on demand"
## Situation
ASP server starts currently when plugin starts (and not using installed asciidoctor).

This does sometimes freeze the UI some seconds at startup. Also it is not always necessary to haven an ASP server running - e.g. when a developer does not edit an asciidoc file at this day/eclipse session or the asciidoctor editor is used without preview and no external preview has been called.

##

[2022-04-30 12:44] #401 closed, assigned to nobody

[2022-04-30 12:49] de-jcup commented on #381
I think this is already solved with #385

[2022-04-30 12:49] #381 closed, assigned to de-jcup

[2022-04-30 14:48] de-jcup commented on #380
I created a test scenario and tried to render
- test files directly by native asciidoctor by a bash script
- plantuml files by asciidoctor editor directly
- using an intermediate asciidoc file using there a plantuml include

There were additional issues, which were targeted by #402 , #403
With #403 it is now able to define the `base_dir` option directly inside the `.asciidoctorconfig.adoc` file so

[2022-04-30 18:45] de-jcup opened #402 "Rendering of file shall first reset attribute cache and then render"
## Situation
When the attribute cache is filled (attributes resolved), changes for variables/attributes inside asciidoc files do not work until user does a manuel reset of project cache (which does a lot more).

## Wanted
Changes of attributes inside configuration files (`.asciidoctorconfig.adoc`) or other files shall be automatically available on next refresh/build of an asciidoctor file. This me

[2022-04-30 18:50] de-jcup opened #403 "Make it possible to set `base_dir` option in `.asciidoctorconfig.adoc` files"
## Situation
when setting `base_dir` option as an attribute inside a `.asciidoctorconfig.adoc` file, the base directory is still the calculated project base dir (which is only an estimation).

## Wanted
When a config file does contain a `base_dir` attribute, the attribute shall be applied for rendering

## Solution
Change implementation, when attributes do contain `base_dir` inside, use this one i

[2022-04-30 18:55] de-jcup commented on #403
#402 should be done first, so base_dir recalculation will work out of the box when a new .asciidocfile is created or the base_dir attribute has been changed there.

[2022-04-30 21:59] de-jcup opened #404 "Provide dedicated outline for plantuml - with includes working"
## Situation
Currently the outline used for plantuml editor is also the asciidoc outline. So no dedicated information available

## Wanted
An own outline for plantuml, showing at least the includes. Quick outline shall work as well.

## Solution
Adopt existing asciidoctor outline classes and reuse code where possible...

[2022-04-30 23:16] de-jcup opened #405 "Add "clear project cache" toolbar action to plantuml and ditaa editor"
## Situation
Currently the project cache can only cleared inside asciidoctor editor

## Wanted
Shall be possible inside plantuml and ditaa editor as well

## Solution
introduce `clearProjectCacheAction` in other editors as well

[2022-04-30 23:29] de-jcup opened #406 "Project temp path must be unique"
## Situation
With #399 the hashcode of path was replaced with sha256. But we still use the hashcode for project temp path calculation

## Wanted
Unique temp path id

## Solution
Sha256 instead hashcode

[2022-05-01 01:09] de-jcup opened #407 "Change some toolbar icons"
## Situation
- The icon used for the refresh/rebuild mechanism is not very clear.
- The icon used for inserting source code snippets does always confuse - looks like it would do some monospace : `<>`

## Wanted
- A  nice green refresh icon
- Use other icon for code snippets

## Solution
Change icons

[2022-05-01 01:39] #380 closed, assigned to nobody

[2022-05-01 01:39] #402 closed, assigned to de-jcup

[2022-05-01 01:39] #403 closed, assigned to de-jcup

[2022-05-01 01:39] #404 closed, assigned to nobody

[2022-05-01 01:39] #405 closed, assigned to de-jcup

[2022-05-01 01:39] #406 closed, assigned to de-jcup

[2022-05-01 01:39] #407 closed, assigned to de-jcup

[2022-05-01 01:40] de-jcup opened #409 "Release 2.5.0"
see https://github.com/de-jcup/eclipse-asciidoctor-editor/projects/1

[2022-05-01 01:46] de-jcup commented on #380
The solution was different, for plantuml output generation now always the base directory is set to the parent folder of the original plantuml file inside the eclipse workspace.

[2022-05-01 02:11] #409 closed, assigned to nobody

[2022-05-01 09:27] ekekakos opened #410 "Writing document in Greek"
First of all thanks for this. My issue is if I can write a **Greek document** in Asciidoctor.
I search the internet and I couldn't find sth.
Thanks in advance
Elias

[2022-05-02 11:48] ekekakos commented on #410
I put in Eclipse Preferences in Spelling UTF-8 and the problem solved.
Thanks

[2022-05-02 11:48] #410 closed, assigned to nobody

[2022-05-02 12:13] rbioteau commented on #394
Might resolve https://github.com/de-jcup/eclipse-asciidoctor-editor/issues/74

[2022-05-02 14:54] odrotbohm opened #412 "Temporary files created with insufficient permissions prevents preview re-rendering"
I am using the just release Asciidoctor Editor 2.5 on MacOS. Steps to reproduce:

1. Open an Asciidoctor file in Eclipse.

The editor bootstraps the ASP and creates a couple of files in some `/var/folders/…` folder:

[code]

Note how the hidden editorfile is created without write permissions even for the owner. This causes the previe to render fine but then no edits actually causing the preview be

[2022-05-02 17:11] odrotbohm opened #413 "Memory usage of the ASP process"
Simply opening a couple of Asciidoctor files in 2.5 of the editor lets the memory consumption of the ASP server quickly raise to multiple GB quickly. I've opened 10 documents, added a minor change and saved them. The Java process grew to 3.67 GB and doesn't shrink back if the files are closed.

I would appreciate it if the server was shut down after the last Asciidoctor document was closed so that

[2022-05-02 17:12] odrotbohm commented on #412
Works fine if I switch to using a locally installed Asciidoctor (via preferences).

[2022-05-03 05:54] Bananeweizen opened #414 "Preview fails on Windows because of path length in 2.5.0"
The change with SHA256 in the path completely breaks the preview on Windows for most input files. The path length of the temporary files goes beyond 254 in most cases, which is still a problem on Windows. In the following console output you can see the first 2 files failing, and only the 3rd one works because I created it in a workspace project with a short name and without nesting it in workspace

[2022-05-04 11:05] DEV4c2 commented on #414
Hi Bananeweizen, thanks for the explanation, we have the same problem here. In 2.4 it was no problem.
Can anyone help with a workaround or is it possible to revert to an older version?

[2022-05-04 13:03] de-jcup commented on #412
Thanx for reporting - will try to fix it ASAP

[2022-05-04 13:06] de-jcup commented on #413
Hmmm... does not happen on my Linux machine.

Here some questions from my side:
1. Did this happen with 2.4 as well?
2. Could you please provide me an example setup (as a zip file inside this issue) where I can try to reproduce?

[2022-05-04 14:37] de-jcup commented on #414
Sorry for the problems on Windows. I have switch nearly 100% to Linux and was no longer aware about the 254 char problem.

@DEV4c2 A quick workaround ... currently I do not know. But i try to deliver a new 2.5.1 version ASAP

[2022-05-04 15:27] DEV4c2 commented on #414
No Problem, thanx de-jcup! I just managed to reinstall 2.4.1 untill you could fix it.

[2022-05-04 17:47] ekekakos opened #415 "Images not displayed in preview"
The images do not displayed in preview (internal or external) while they displayed in PDF.
Is there any solution to this?
Thanks

[2022-05-04 19:30] de-jcup commented on #414
With last commit I have changed the folder structure this way:
- Project folder
  will be same name as eclipse project name. If there are duplicated projects we will use the same temp folder (so no unique identifier for projects any longer - which were introduced with #406 ). Destroying a project cache for same named projects will destroy project cache for both of them (but does really not matter,

[2022-05-04 19:36] de-jcup commented on #415
I tried two simple examples (one with images, one with plantuml) on both worked in Asciidoc 2.5.0 external, internal and in PDF:
![image](https://user-images.githubusercontent.com/11644753/166812292-f9346447-3262-40a8-805b-b8dc3d6ac2c5.png)

[2022-05-04 19:36] de-jcup commented on #415
Please provide more information:

1. Used asciidoctor editor plugin version
2. Your operation system
3. Your system browser used for external preview
4. Provide a simple example project zip file where I can extract and reproduce

[2022-05-04 19:37] de-jcup commented on #415
If you use Windows, I will provide in the next hours a 2.5.1 which does fix #414, maybe this related?

[2022-05-04 20:10] de-jcup commented on #415
Also you could try to press the refresh button (toolbar green refresh icon).

[2022-05-04 22:42] de-jcup opened #417 "Enhance security and allow access to generated files only to current user"
## Situation
Currently the file permissions for the files generated by ASP or native asciidoctor are not explicit set.
And on a multi user system, every user will have access to the generated files

## Wanted
On a multi user system it shall not be possible to read or write the generated files from another user.

## Solution
We change existing temp folder to a folder inside user home!
We also autom

[2022-05-04 23:58] #414 closed, assigned to de-jcup

[2022-05-05 00:41] de-jcup commented on #412
There is currently no explicit file permission handling defined with #417 this will be done . So only the user creating/generating the document shall be able to open, read and write the document. This should fix the mentioned problem as well.

[2022-05-05 00:41] de-jcup opened #419 "Release V2.5.1"
see https://github.com/de-jcup/eclipse-asciidoctor-editor/projects/1

[2022-05-05 00:51] #419 closed, assigned to de-jcup

[2022-05-05 01:24] de-jcup opened #421 "Sign editor feature jar on deployment"
## Situation
Currently the feature jar from editor is not signed (only the feature jar from converter).
This leads to:
![image](https://user-images.githubusercontent.com/11644753/166851617-4b4a220f-bb6f-49b7-82bc-760a5bf00b8e.png)

## Wanted
No warn message

## Solution
Change deployment so editor feature is signed as well

[2022-05-05 01:29] de-jcup commented on #414
Just released Version 2.5.1 on eclipse marketplace where the problem is fixed

[2022-05-05 05:36] ekekakos commented on #415
Thanks for the response. I managed to solve it by providing the full pathname of the image file.
image::E:\My Library\eclipse-workspace\Java-Latest-Release\....\images\Lump_Sum_DisplayEL.jpg[]
I tried with **:imagesdir:** but nothing.
As there is a solution I am closing this issue.
Thanks again

[2022-05-05 05:36] #415 closed, assigned to nobody

[2022-05-05 07:02] de-jcup commented on #415
@ekekakos : It should not be necessary to set absolute pathes. When you have trouble with the pathes inside the editor you have also the possiblity to define a (or more) config file(s) to provide a special editor behaviour. See https://github.com/de-jcup/eclipse-asciidoctor-editor/wiki/Asciidoctor-configfiles#example for an example and the description.

[2022-05-05 07:16] de-jcup commented on #74
Should be fixed with #394 - so I close this issue.

[2022-05-05 07:16] #74 closed, assigned to nobody

[2022-05-05 07:20] de-jcup commented on #410
As a late (and more or less additional) answer: Asciidoc does always rely on UTF-8, see https://docs.asciidoctor.org/asciidoc/latest/normalization/

[2022-05-05 07:49] de-jcup commented on #371
I want to separate the download not for development, but for the users (update time)

For example:
I released `V2.5.0` of the editor plugin (old style with gradle) some days ago with library plugin 2.4.0 dependency which contains ASP 1.4.1

Some hours ago I fixed a serious bug and released `V2.5.1` which uses again library plugin 2.4.0

Because the only changes were done inside the editor plugin t

[2022-05-05 07:58] vogella commented on #371
Still don't understand. If the Maven dependencies are not updated they will also not be updated hence you will not see big updatesd if you only update the core plug-in

[2022-05-06 10:05] kikinaer opened #422 "Please add code template for menu"
Would be nice to have a code template for menus, e.g. menu:File[Open Folder...]

[2022-05-10 05:41] vogella opened #424 "Long UI freeze due to activator"
I just go a 11 seconds UI freeze due to the activator of Asciidoctor

Stack Trace
	at java.base@17.0.2/java.io.FileInputStream.open0(Native Method)
	at java.base@17.0.2/java.io.FileInputStream.open(FileInputStream.java:216)
	at java.base@17.0.2/java.io.FileInputStream.<init>(FileInputStream.java:157)
	at org.eclipse.core.internal.filesystem.local.LocalFile.openInputStream(LocalFile.java:418)
	at o

[2022-05-10 05:44] vogella opened #425 "[Windows] Attempted to beginRule: MultiRule[], does not match outer scope rule: R/"
Using latest release I still get a lot of  the following errors in Windows.

@de-jcup didn't you fix that in another issue?

java.lang.IllegalArgumentException: Attempted to beginRule: MultiRule[], does not match outer scope rule: R/
	at org.eclipse.core.runtime.Assert.isLegal(Assert.java:66)
	at org.eclipse.core.internal.jobs.ThreadJob.illegalPush(ThreadJob.java:138)
	at org.eclipse.core.internal

[2022-05-10 05:48] vogella commented on #425
This bug makes is really annoying to use the plug-in in Windows. I'm getting this error on every save.

[2022-05-31 20:30] de-jcup commented on #424
Does this
- happen all time or only sometimes
- do you have many TODOs tasks in your projects defined
- which eclipse version do you exactly use?
- which OS do you use?
- looks like you are using java 17
- I have not such problems
- do you have this in another workspace (same eclipse) also appearing?
- The TaskTagsSupport has not been changed, did you change something here
- Have you tried to turn

[2022-05-31 20:50] de-jcup commented on #425
@vogella : Sorry for the late response - I will take a look.

## Analyze/Try to reproduce

I tried with
- Windows 10
- Eclipse 2021-12
- Asciidoctor Editor plugin Version 2.5.1
- Java Versoin 17.0.1 (Eclipse Adoptium)

I opened multiple asciidoc files, plantuml files and also ditaa files with the asciidoctor editor and there was none of the mentioned stacktrace information inside the error log vie

[2022-05-31 21:01] de-jcup commented on #422
UI macros are still experimental , see https://docs.asciidoctor.org/asciidoc/latest/macros/ui-macros/.
So the default templates which are always available inside asciidoctor editor plugin, will not contain this in next future.

But... You can simply define your own templates (and import/export them ).

Just do following:
`Preferences -> Asciidoctor editor -->Templates -> New`  and add your own tem

[2022-06-01 08:38] vogella commented on #424
Ony sometimes

No todos defined at all

Eclipse SDK
Version: 2022-06 (4.24)
Build id: I20220530-1800
OS: Windows 10, v.10.0, x86_64 / win32
Java vendor: Eclipse Adoptium
Java runtime version: 17.0.2+8
Java version: 17.0.2

In general activators tend to freeze UI in certain situations and should be avoided. Once the Maven build is working I can look into replacing the activator with modern concepts

[2022-06-01 08:39] vogella commented on #425
I don't remember if I saw this on Linux or Windows, will report once this happens again.

[2022-06-02 06:32] vogella commented on #425
Happens for me on Windows all he tme if I edit one of my files. Here is an example content:

[code]

[2022-06-02 06:45] vogella commented on #425
Maybe it happens if the images can not be found? Frequently I add the image later.

[2022-06-21 06:28] de-jcup opened #427 "Opening of an asciidoc file outside workspace fails"
## Situation
I wanted to open an external asciidoc file wih `File -> Open File ...`

- The path wath something like this:
`/home/developer/projects/sechub/sechub-doc/src/docs/asciidoc/documents/gen/gen_pds_executor_config_paramters.adoc
- The file exists

But... I got an exception (see below inside "details").

### Workaround
Use a temporary project, add a `File` and use `Advanced` option to link

[2022-07-05 08:44] de-jcup opened #428 "Empty folder between asciidoc files prevents plantuml resolution"
## Situation

[code]

When wrring subdocument.adoc like this:
[code]

The files is not correct rendered (neither ASP nor by native asciidoc)

## Analyze
The problem is the base class calculation! The empty folder will be used as the new base and so the diagram will not be found.

## Wanted
Improve the base directory resolution

## Solution
Workaround:  Just add an empty asciidoc file  - e.g. `pseu

[2022-07-12 18:26] steghoja opened #429 "Plug-in does not expose API -- not able to access editor programmatically"
Hey there,

Wonderful job on the Asciidoc Editor and many others, your work is really appreciated!

I am working on [Eclipse Capra](https://eclipse.org/capra), a traceability management tool. I would like to add a feature to Eclipse Capra that would allow its users create traceability links from and to elements (or `Item`s in the lingo of the plugin) in Asciidoc files. To achieve this, Eclipse Cap

[2022-07-25 12:20] de-jcup opened #431 "Add context menu to outline view"
## Situation
The outline view of the AsciiDoctor Editor currently has no context menu. This also means that context menu contributions from other plug-ins are not visible in the outline view. This limits interoperability with other plug-ins that might be installed in the same Eclipse installation.

A concrete use case for this functionality is provided by [Eclipse Capra](https://eclipse.org/capra)

[2022-07-25 12:23] #431 closed, assigned to nobody

[2022-07-25 12:32] de-jcup commented on #429
@steghoja : Good idea, I have no concerns about this and I would appreciate your PR :rocket:

[2022-07-25 12:50] steghoja commented on #429
Great! Addressed in PR #432.

[2022-07-25 14:05] #429 closed, assigned to nobody

[2022-07-25 14:09] de-jcup opened #433 "Improve Include code completion"
## Situation
When entering `include::` or `plantuml::` and then pressing `CTRL + SPACE`, all templates appear - this is confusing/irritating

## Wanted
When `include::` or `plantuml::` are the prefix, no templates shall appear

[2022-07-25 15:16] #428 closed, assigned to nobody

[2022-07-25 15:17] de-jcup commented on #428
We allow now up to 3 empty folders while resolving base directory

[2022-07-25 20:52] #433 closed, assigned to de-jcup

[2022-07-25 23:01] de-jcup opened #434 "Auto cleanup old temp data on eclipse start and on eclipse end"
## Situation
With #417 we changed to a temp folder inside user home. But such folders are not autmatically deleted by filesystem.

## Wanted
Eclipse shall delete on startup (and also on exit) internal temp files which are old than a configurable time period in days.

## Solution
Implement logic inside Activator. Default time period shall be 2 days.

[2022-07-25 23:03] #417 closed, assigned to de-jcup

[2022-07-25 23:03] #434 closed, assigned to de-jcup

[2022-07-25 23:04] de-jcup commented on #434
![image](https://user-images.githubusercontent.com/11644753/180889132-c7b152a4-79ad-49fa-9d55-47aa007b468f.png)

[2022-07-25 23:06] de-jcup commented on #412
With #417 and #434  the temp data for the editor is no longer in system temp folder but in a dedicated tmp folder in user.home.
So the problem should be fixed when Version 2.6.0 is deployed on eclipse marketplace.

[2022-07-25 23:06] #412 closed, assigned to de-jcup

[2022-07-26 10:07] de-jcup opened #435 "Dynamic content assist parts shall give more information about real pathes etc."
## Situation
Currently when we use `plantuml::` or any other reference link, a dynamic content assist is used.
The tooltips do currently only show up the path from code proposal.

Problem: When we traverse back to other locations - e.g. "../.../gen/my-generated-document.adoc[]" it becomes sometimes difficult to find the correct folder because the absolute path / the new parent is not showing up

#

[2022-07-26 10:36] #435 closed, assigned to de-jcup

[2022-07-26 10:42] de-jcup commented on #435
Folder resolution looks now like:
![image](https://user-images.githubusercontent.com/11644753/180987221-7a0943cc-c041-4a13-b77c-2c515f4abb9b.png)

File resolution looks the following way:
![image](https://user-images.githubusercontent.com/11644753/180987439-18725a9e-2e18-47cf-b58b-b55302658726.png)

[2022-07-26 10:47] de-jcup opened #436 "Create default code snippets for PlantUML"
## Situation
In Asciidoctor editor we have the possiblity to add some code snippets into the current document (e.g. Python or Java etc.)
In PlantUML we do not have such a possiblity.

## Wanted
We want a toolbar icon for plantuml editor where we have some standard snippets available as well

## Solution
Add a toolbar with some actions which inject just default texts

We do not use the template mec

[2022-07-26 16:04] #436 closed, assigned to de-jcup

[2022-07-26 16:10] de-jcup commented on #436
![image](https://user-images.githubusercontent.com/11644753/181056779-3ffa0569-9125-40e9-8802-2988923bfa61.png)

[2022-07-26 16:34] de-jcup opened #437 "Release 2.6.0"
see https://github.com/de-jcup/eclipse-asciidoctor-editor/projects/1

[2022-07-26 16:54] #437 closed, assigned to nobody

[2022-07-26 16:55] #421 closed, assigned to nobody

[2022-07-26 17:14] de-jcup opened #438 "Fix rendering problems of Version 2.6.0"
## Situation
With Version 2.6.0 it is not possible to open /render Asciidoc files.
Always having the problem  - sound similar to #412 which should be fixed by the changes in 2.6.0 but now it happens also on a Linux machine (but only in installed plugin, but not in runtime (developer) version) - strange...

## Wanted
Fix the problem and have no installation of 2.6.0

## Solution

- [x]  Changed mar

[2022-07-26 17:32] odrotbohm commented on #412
I see the rendering not fail with original error anymore but file-relative inclusions are now broken. I have my source file `index.adoc` in `src/main/asciidoc`. I set an attribute `:mybase:` to `../../../target/generated-docs` and then use e.g. `plantuml::{mybase}/components.uml`. The console then has the following:

[code]

which is not wrong per se because at the location the source file is copi

[2022-07-26 17:38] de-jcup commented on #412
@odrotbohm : I am sorry - I have currently exact the same problems and I created #438  to fix this. The base directory for the diagrams is no longer correct calculated (I deleted my former comment to you because of the bug... but of course you received a mail... sorry)

[2022-07-26 17:40] de-jcup commented on #438
## Analyse
- plain asciidoc files do work
- problems appear where a diagram (plantuml, ditaa etc.) is referenced. Those files cannot longer be found - reason: diagram path is wrong calculated!
- in general: the base path calculation is absolutely wrong, could be related to the changes made for #428
- Setting AsciiDoctorBaseDirectoryProvider.MAX_ACCPTED_EMPTY_FOLDERS to 0, does solve the problem

[2022-07-26 20:43] de-jcup commented on #438
The solution is, to remove the implementation of #428 !

[2022-07-26 20:44] #438 closed, assigned to de-jcup

[2022-07-26 20:47] de-jcup commented on #428
Version 2.6.0 did fail when it comes to rendering of bigger documentation projects - e.g.  https://github.com/mercedes-benz/sechub/tree/develop/sechub-doc . The diagram path calculation did fail.

Looking back, one has to say that the idea wasn't a very happy or good one. The workaround of putting an empty Asciidoc document in an empty folder is much better!

[2022-07-26 20:48] de-jcup opened #439 "Release V2.6.1"
See https://github.com/de-jcup/eclipse-asciidoctor-editor/projects/1

[2022-07-26 21:03] de-jcup commented on #412
@odrotbohm : I just released Version 2.6.1 to eclipse marketplace. It works with my documentation project + diagrams etc. So please try again.

[2022-07-26 21:04] #439 closed, assigned to de-jcup

[2022-07-26 21:39] odrotbohm commented on #412
No need to apologize at all! You're doing remarkable work for the Asciidoctor community. Highly appreciated! I was just happy I could provide feedback 🙃.

Even better, I can report the previews now rendering as expected! Thanks again!

[2022-07-27 05:59] de-jcup opened #440 "error ducring preview generation : (ESRCH) No such process - asciidoctor:"
### Discussed in https://github.com/de-jcup/eclipse-asciidoctor-editor/discussions/426

<div type='discussions-op-text'>

<sup>Originally posted by **harlock001** May 17, 2022</sup>
Hi

during the generation of the preview using the embedded ASP, the error below is generated. I changed the path name to reduce its length and it seems to have fixed the problem.
Is this the true issue? If yes, is it

[2022-07-27 06:04] de-jcup commented on #440
@harlock001 : The long path names should no longer be a problem at all - it should be fixed with 2.5.1 already (see #414)

Yesterday  I released v2.6.1 on eclipse marketplace. It does now store the temporary files at a user home location (for security reasons) and has also an integrated auto cleanup mechansim of those files. I tested 2.6.1 with Windows 10 and all is working fine.

Please give me f

[2022-07-27 06:15] company-jcup commented on #425
@vogella : I tried to reproduce your problem with your Example snippet (+ not existing files ) with editor version 2.6.1 on Eclipse 2021-12 + Windows 10 - no problems:
![image](https://user-images.githubusercontent.com/80676663/181174464-db0ce75e-7d9f-4d1b-8845-ff0e55d21919.png)

[2022-07-27 06:22] company-jcup commented on #425
After updating my Eclipse to 2022-06 I retried to reproduce - but same situation: All is working.

[2022-07-27 06:24] de-jcup commented on #429
@steghoja  - version 2.6.1 is available on eclipse marketplace now. It contains your changes.

[2022-07-27 10:13] de-jcup opened #441 "Integrate hyperlink for (shortcut) cross references in same document"
## Situation
When having something like this
[code]
it is a little bit cumbersome to search for the target inside the document (select + CTRL/F + enter)

## Wanted
Developers shall be able to hover over the internal link and press `CTRL` and have a hyperlink to the corresponding location!
The target shall be selected when left mouse button has been pressed.

## Solution
- introduce new hyperlink
-

[2022-07-27 15:05] harlock001 commented on #440
indeed, this problem is fixed in version 2.5.1.
Thank you.

[2022-07-28 09:59] steghoja commented on #429
Awesome. thanks so much @de-jcup!

[2022-07-29 23:00] #441 closed, assigned to de-jcup

[2022-07-29 23:07] de-jcup commented on #441
After last commit, hyperlinks for internal cross references (with shortcut syntax) do work in same document:
![image](https://user-images.githubusercontent.com/11644753/181858151-c5a7efa1-711b-4668-80ba-08b60b9438c9.png)

[2022-07-29 23:10] de-jcup opened #442 "Integrate Hyperlink for (shortcut) cross reference in other document"
## Situation
When having something like this
[code]
it is very cumbersome to search for the file+location.

## Wanted
Developers shall be able to hover over the internal link and press `CTRL` and have a hyperlink to the corresponding file +location!

## Solution
- use hyperlink introduced in #441
- if editor is not able to find the cross reference id inside its own model, the editor shall try to f

[2022-07-29 23:14] de-jcup opened #443 "Integrate hyperlink for (xref) cross references in same document + other files"
## Situation
When having something like this
[code]
it is very cumbersome to search for the file/location.

## Wanted
Developers shall be able to hover over the internal link and press `CTRL` and have a hyperlink to the corresponding file +location!

## Solution
- introduce new hyperlink
- reuse opening mechanism introduced in
  - #441
  - #442
 to open target in IDE

[2022-07-30 20:59] #442 closed, assigned to de-jcup

[2022-07-30 21:14] #443 closed, assigned to de-jcup

[2022-07-30 21:16] de-jcup opened #444 "Implement syntax highlighting for "xref.*]""
## Situation
When having something like this
[code]

[2022-07-30 21:25] #444 closed, assigned to de-jcup

[2022-07-30 21:44] de-jcup opened #445 "Add toolbar action to insert new anchor"
## Situation
Currently the author must know that the anchors have the format "[[$ID]]" - no toolbar action available

## Wanted
Would be nice to have toolbar action here

## Solution
Implement

[2022-07-30 21:50] #445 closed, assigned to de-jcup

[2022-07-30 21:55] de-jcup commented on #445
![image](https://user-images.githubusercontent.com/11644753/181999013-1bdf56c8-d73b-48ce-a2cc-403055bcc1a5.png)

[2022-07-30 22:19] de-jcup opened #446 "Create possiblity to show a global graph for complete document structure"
## Situation
When it comes to bigger documentation it happens - at least for my self - sometimes it is very difficult to know exactly what is
included, which parts are shared between different documents etc.

## Wanted
As a developer/author I want to click on the toolbar of an editor and get an overview of all documents, includes etc.

## Solution
- We introduce a new toolbar action.
- When the ac

[2022-07-30 22:20] de-jcup opened #447 "Release 2.7.0"
see https://github.com/de-jcup/eclipse-asciidoctor-editor/projects/1

[2022-07-30 22:38] #447 closed, assigned to de-jcup

[2022-08-03 09:20] de-jcup opened #448 "Plantuml cache files still used /shown when plantuml generator announces problems"
## Situation
When a generated PlantUML  file cannot be read, the asciidoc preview will use old cached data.

## Wanted
The user must be aware on UI that the rendering has failed and longer get the old stuff without any additional notice

## Solution
Still open: The variants must be evaluated and one choosen...

### Variant A: Delete plantuml img dir completely on errors
We just delete the complete

[2022-08-03 23:54] de-jcup opened #449 "Fix Image directory calculation race conditions"
## Situation
When we have `image::my-existing-image.png[]` which is located in a folder "images" which is defined inside a `.asciidoctorconfig.adoc` config file with
[code]
than it often happens that the image base path is still wrong calculated.

## Analyze
- AsciiDoctorAttributesProvider#getCachedAttributes() does not contain the imagesDir from config file!
- AsciiDoctorAttributesProvider#resolv

[2022-08-03 23:55] de-jcup commented on #449
Remark: This is also important for #446  when images are visible. The images are checked if the calculated file does exist or not. In case of missing file, the overview shows a warning.

[2022-08-04 07:04] de-jcup opened #451 "Introduce global model"
## Situation
Currently the model used inside the editor does only know about the editor "script content". It provides only information about one asciidoc model

## Wanted
For overview graphs, advanced search or even failure detection there shall be another model available with more information.

## Solution
Introduce a  global asciidoc model

[2022-08-04 07:06] de-jcup commented on #451
Will be done together with #446 . Introduction of the model started with 26c6c61c25e8939d17d9a3cc2261b5f74c712030

[2022-08-04 07:14] de-jcup opened #452 "Provide possibility to Zoom in PlantUML diagrams"
## Situation
When PlantUML diagrams become very big it is not easy to read them.

## Wanted
The PlantUML editor shall provide

- [x] internal preview which can be zoomed
- [x] external preview chich can be zoomed

## Solution
Instead of showing the HTML output of the internal generated asciidoc file (for plantuml), we show inside browser
directly SVG file which is scalable and so also zoomable.

[2022-08-04 07:22] de-jcup opened #453 "Make SVG standard ouptut for diagrams"
## Situation
With #452 we want to change to implement zoomable PlantUML output. But currently users can define their ourput inside preferences to PNG or SVG. Also we have a "direct save" option which stores the files

## Wanted
For #452 we want to have SVG only. PlantUML and ditaa suport both this format (see https://docs.asciidoctor.org/diagram-extension/latest/#creating-a-diagram)

## Solution
-

[2022-08-04 07:30] de-jcup opened #454 "Provide export/save buttons inside toolbar"
## Situation
With #453 we remove the "direct save" action and the possibility to show up as PNG . But there can be usecases where it is necessary to have those files as well

## Wanted
User shall be able to save the diagram also as an image file of their choice by a simple click

## Solution
The toolbar of ditaa and Plantuml editor will be extended with an export action.

We introduce two export|s

[2022-08-04 07:39] de-jcup opened #455 "Provide possibility to Zoom Ditaa diagrams in external view"
## Situation
When ditaa diagrams become very big it is not easy to read them.

## Wanted
The Ditaa editor shall provide

~~- [ ] internal preview which can be zoomed~~
- [x] external preview chich can be zoomed

## Solution
Instead of showing the HTML output of the internal generated asciidoc file (for ditaa), we show inside browser
directly SVG file which is scalable and so also zoomable.

[2022-08-05 15:02] dkaiser59 opened #456 "Missing JRE with Eclipse JustJ JDK"
On my M1 Mac with macOS 12.5 I have installed the newest Eclipse Modeling (Version: 2022-06 (4.24.0)) with the JustJ JRE (org.eclipse.justj.openjdk.hotspot.jre.full.macosx.aarch64_17.0.2.v20220201-1208) installed via the Eclipse installer.

When I try to run the Preview or PDF generation of an AsciiDoc file I initially only got the following error in the console:

">> ASP Server at port 4444 exite

[2022-08-06 19:26] de-jcup commented on #456
Hello.
The asciidoctor editor plugin starts an ASP server in the background. To start this server a JRE is necessary.
Per default the command to start the ASP server is just a simple "java -jar ...." so it uses the installed JRE instance.

If you have no JRE installed this cannot work - so it is an expected behavior.
But... inside the preferences (see next figure) you can define a JRE location - a

[2022-08-06 20:54] dkaiser59 commented on #456
Thank you very much for the fast reply, setting the "Path to Java binary" to the location of the JustJ did work for me.

Is there some way for asciidoctor to detect this kind of configuration (since I assume that more people will just use the eclipse installer instead of installing a JRE/JDK before installing Eclipse) or is this something that should be handled differently by the JustJ JRE of Ecli

[2022-08-06 21:22] de-jcup opened #458 "Use JRE which runs eclipse to run ASP server per default"
## Situation
In #456 there was no additional JRE installed but only the JRE coming with eclipse. So the editor plugin did not start "out-of-the-box" because ASP server process could not be initialized (java missing)

## Wanted
If no JRE is configured in eclipse settings the fallback should be the current JRE which runs eclipse.

## Solution
While reading
https://docs.oracle.com/javase/tutorial/ess

[2022-08-06 21:23] de-jcup commented on #456
Thank you for the idea - created #458 for this.

[2022-08-06 21:26] de-jcup commented on #422
@kikinaer - I will close this issue - I think my last comment should have solved your problem/situation.

[2022-08-06 21:26] #422 closed, assigned to nobody

[2022-08-06 21:28] de-jcup commented on #449
The main problem is, that the outline model build runs parallel to the rendering process. The outline is faster, but did not setup the config files. The cached data was not aware about the asciidoc config files (emty List) and the images dir is not resolved...

[2022-08-07 21:50] de-jcup opened #459 "Make Asciidoctor context and adapter no longer public accessible"
## Situation
Currently the asciidoctor editor class provides the method `getWrapper()` which is public. The wrapper on the other side provides  `getContext()` which is also public.

Problem: It becomes a mess inside the callers. It is absolutely not clear who is calling what etc. circular dependencies etc. are extremely rough to challenge. For #449 it was extreme hard to fix it because every class

[2022-08-11 17:33] de-jcup opened #460 "Handle relation syntax highlighting better in PlantUML editor"
## Situation

A relation like `A o-- B ` is highlighted correctly, but not:

- `Ao-- B `
- `A o--B `
- `A o- B `
- `A o--- B `
etc. etc.

This happens also for other relation types.

`..`
`-->`
etc. etc.

## Wanted
Syntax highlighting shall be correct

## Solution
Change syntax highlighting

[2022-08-15 07:31] #456 closed, assigned to de-jcup

[2022-08-21 14:06] de-jcup opened #461 "Add drag and drop support to outline view"
## Situation
This is a follow up issue for PR #457

## Wanted
It shall be possible to drag items out of the outline view into other
views that accept `ITreeSelection` objects. This will allow other views
to consume the items of an Asciidoc file for their own purposes.

## Solution
Merge the PR...

[2022-08-21 14:08] #461 closed, assigned to nobody

[2022-08-21 23:07] de-jcup opened #462 "Make inspection level configurable for overview graph"
## Situation
With #446 images, diagrams and includes are always resolved inside graph

## Wanted
A possibility for the user to disable images and/or diagram resolution

## Solution
Model builder does this already support (currently diagrams and images are always inside the global model

[2022-08-21 23:23] #451 closed, assigned to de-jcup

[2022-08-21 23:23] #446 closed, assigned to de-jcup

[2022-08-21 23:23] #449 closed, assigned to de-jcup

[2022-08-21 23:23] #459 closed, assigned to de-jcup

[2022-08-22 23:34] #458 closed, assigned to de-jcup

[2022-08-23 10:08] de-jcup opened #464 "Render mechanism does always use ".no-project" folder"
## Situation
After #449 the ".no-project" folder seems to be always used now

## Wanted
Where project is available, the correct project folder shall be used.

[2022-08-23 13:50] de-jcup commented on #452
This works well when in external preview.
But.. internal preview/SWT browser component  is - at least at my Linux distribution - not able to provide scaling zooming per default!

[2022-08-23 13:56] de-jcup commented on #452
With last commit the Plant UML editor has a combobox inside where the user can define a zoom level:

![image](https://user-images.githubusercontent.com/11644753/186177015-a4bc3a5c-06d0-474d-a719-c39595479e8c.png)

[2022-08-24 00:09] #452 closed, assigned to de-jcup

[2022-08-24 00:10] de-jcup commented on #452
With last commit it is now possible to press "CTRL" and use the mouse wheel (when inside internal preview) to change the zoom level.

[2022-08-24 00:36] #440 closed, assigned to nobody

[2022-08-25 20:28] #464 closed, assigned to de-jcup

[2022-08-25 20:39] de-jcup commented on #455
I changed already the standard output to SVG in  #453 . So the external peview is zoomable/scalable in browser.

But the internal preview zoom is a little bit tricky - could be solved like done for Plantuml: Add combobox, use Thread, render the document with scale factor etc. But this is much effort /reuse of PlantUML classes etc.
Currently I will not implement the zoom level for the internal prev

[2022-08-25 20:39] #455 closed, assigned to de-jcup

[2022-08-25 20:41] de-jcup commented on #453
Not implemented - so reopen:

- [x] remove the "direct save" action + preferences
- [x] remove the option for the user to setup output image type

[2022-08-25 20:48] de-jcup opened #465 "Provide preference entry for default zoom level for PlantUML peviews"
## Situation
Currently the zoom level is always 100%.

## Wanted
As a user I want to be able to define a default zoom level for the editor

## Solution
Provide "Default zoom level" inside PlantUML preference page + apply to new opened editors.

[2022-08-25 21:37] de-jcup commented on #465
It is now possible to define the default zoom level (initial preference value is 100%).
![image](https://user-images.githubusercontent.com/11644753/186773438-246d0642-bb41-44cc-a013-022806ea9105.png)

[2022-08-25 21:37] #465 closed, assigned to de-jcup

[2022-08-25 21:38] #453 closed, assigned to de-jcup

[2022-08-25 23:03] de-jcup commented on #460
`A->B` is a problem in eclipse syntax highlight handling - IPredicateRule instances will not be applied to this, because there are no whitespaces between.

So this cannot be handled.

[2022-08-25 23:45] de-jcup opened #466 "Change PlantUML default color for arrows"
## Situation
The current arrow color for dark theme is not really unique: text/strings have nearly same color.

## Wanted
Unique color for arrows

## Solution
Change default color for dark theme to:
BF3FAC

[2022-08-26 00:47] #466 closed, assigned to de-jcup

[2022-08-26 00:47] #460 closed, assigned to de-jcup

[2022-08-28 18:08] de-jcup commented on #371
Remark: The former two commits did also merge the current master (containing changes for 3.0.0) into this branch.

[2022-10-17 13:00] Fuzzo opened #467 "Exception when opening an .adoc file"
When I try to open an .adoc file i get an empty tab with a red X icon titled: `Plug-in de.jcup.asciidoctoreditor was unable to load class de.jcup.asciidoctoreditor.AsciiDoctorEditor`.

Exception details:
[code]

I tried to reinstall the plugin as well starting eclipse with `-clean` flag: no way.

[2022-10-20 15:51] de-jcup commented on #467
Hello.

The plugin tries to delete older temp data for your project.

Does "C:\Users\MY_USERNAME\.eclipse-asciidoctor-editor\tmp\MY_PROJECTNAME" still exist?
Have you tried to delete the folder manually by yourself?

[2022-10-20 15:55] de-jcup opened #468 "Failures on temp file deletion on startup shall not stop the editor"
## Situation
In #467 a user described problems on startup because the temp folder was not deletable.

## Wanted
If the delete is not possible a log warning shall appear but the editor shall still come up!

## Solution
Improve exception handling here - see wanted

[2022-10-20 15:57] de-jcup commented on #467
Please try the former described steps and restart your eclipse. Maybe you have copied an existing workspace or the folder did no longer exist? It would be interesting why the problem happened. I created #468 to handle such problems in a more resilient way (just log but ignore the exception) so work is still possible.

Let me know if the problem can be solved with the workaround or not - if not, I

[2022-10-20 16:26] de-jcup commented on #424
Hello @vogella - sorry for the late response. I was extreme busy. Thank you for offering help when the maven build change has been done.

[2022-10-28 10:25] Bananeweizen opened #469 "wrong basedir in editor preview file?"
Now that we discussed how to set variables in the `.asciidoctorconfig`, I was trying to make it work for different levels of nested directories containing adoc files, without putting a config file on each directory level. So instead of using
[code]
and having a separate config in dir, dir/nested, dir/nested/even/deeper etc., I was thinking of
[code]
and having only one config file on the project l

[2022-11-02 08:55] Fuzzo commented on #467
I tried to browse the mentioned directory but i can browse only until one level up, then i get an error:
![image](https://user-images.githubusercontent.com/6161201/199443034-43719229-a188-48be-9df2-0bd8bd81e219.png)
Also if I try to manually delete it, i get a "permission required" message.
Looks like this temporary directory is created in the user home, but not with the correct permission...
I'm

[2022-11-09 15:58] vogella commented on #424
@de-jcup yeah, would be nice to be able to build the editor myself.......